// @button--{{color}}

// dark blue
@mixin button--dark-blue {
  border-color: currentColor;
  color: $color-brand--dark-blue;

  &:hover {
    background: $color-brand--dark-blue;
    border-color: $color-brand--dark-blue;
    color: $color-brand--off-white;

    .icon svg {
      fill: $color-brand--off-white;
    }
  }

  // on touch devices hover is similar to ':active' state.
  // outputs regular ':active' state & specific ':hover'
  // state for touch devices
  & {
    @include hover-touch {
      background: $color--dark-blue-180;
      border-color: $color--dark-blue-180;
      color: $color-brand--off-white;
    }
  }
  .icon svg {
    fill: $color-brand--dark-blue;
  }
}

// off-white
@mixin button--off-white {
  border-color: $color-brand--off-white;
  color: $color-brand--off-white;

  &:hover {
    background: $color-brand--off-white;
    border-color: $color-brand--white;
    color: $color-brand--blue;

    .icon svg {
      fill: $color-brand--blue;
    }
  }

  // on touch devices hover is similar to ':active' state.
  // outputs regular ':active' state & specific ':hover'
  // state for touch devices
  & {
    @include hover-touch {
      background: $color--off-white-110;
      border-color: $color--off-white-110;
      color: $color-brand--blue;
    }
  }
  .icon svg {
    fill: $color-brand--off-white;
  }
}

// blue
@mixin button--blue {
  border-color: currentColor;
  color: $color-brand--blue;

  &:hover {
    background: $color-brand--blue;
    border-color: $color-brand--blue;
    color: $color-brand--off-white;
  }

  // on touch devices hover is similar to ':active' state.
  // outputs regular ':active' state & specific ':hover'
  // state for touch devices
  & {
    @include hover-touch {
      background: $color--blue-80;
      border-color: $color--blue-80;
      color: $color-brand--off-white;
      outline: none;
    }
  }
}

