@mixin colored-lists($header-color: $color-brand--blue, $list-item-style-color: null) {

  $header-color-replaced: str-replace(unquote($header-color), 'bg', 'color');


  .header.bg-brand--dark-blue ~ .block .body-copy--colored-lists {
    h2, h3, h4, h5, h6 {
      color: $header-color-replaced;
    }

    li::before {
      color: $header-color-replaced;      
    }

    .list--checks li::before {
      @include svg-base64($header-color-replaced);
    }
  }
}
