// @form-field--[] color schemes

//// text colors ////
  @mixin form-field--primary-text-color {
    color: $color-brand--dark-blue;

    .bg-brand--dark-blue &,
    .bg-brand--blue & {
      color: $color-brand--off-white;
    }
  }

  @mixin form-field--secondary-text-color {
    color: $color--dark-blue-50;

    .bg-brand--blue & {
      color: $color-alpha--off-white-50;
    }

    .bg-brand--turquoise &,
    .bg-brand--yellow &,
    .bg-brand--red & {
      color: $color-alpha--dark-blue-70;
    }
  }

  // disabled
  @mixin form-field--disabled-text-color {
    color: $color--dark-blue-50;

    .bg-brand--dark-blue &,
    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--red & {
      color: $color-alpha--off-white-50;
    }

    .bg-brand--yellow & {
      color: $color-alpha--dark-blue-30;
    }
  }

//// field colors ////

  // radio & check buttons
  @mixin form-field--border-interaction-color {
    border-color: $color-brand--blue;

    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--yellow &,
    .bg-brand--red & {
      border-color: $color-brand--dark-blue;
    }
  }

  @mixin form-field--checked-field-color {
    background: $color-brand--blue;
    border-color: $color-brand--blue;
    
    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--yellow &,
    .bg-brand--red & {
      background: $color-brand--dark-blue;
      border-color: $color-brand--dark-blue;
    }
  }

  @mixin form-field--checkmark-color {
    background: $color-brand--blue;

    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--yellow &,
    .bg-brand--red & {
      background: $color-brand--off-white;
    }    
  }

  // option group
  @mixin form-field--option-group-color {
    border: 1px solid $color--grey;
    color: $color-brand--blue;

    .bg-brand--dark-blue &,
    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--red & {
      border: 1px solid $color-alpha--off-white-50;
      color: $color-brand--off-white;
    }

    .bg-brand--yellow & {
      border: 1px solid $color-alpha--dark-blue-30;
      color: $color-brand--dark-blue;
    }
  }

  @mixin form-field--option-group-hover-color {
    background: $color--blue-10;
    border-color: $color-brand--blue;

    .bg-brand--dark-blue &,
    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--red & {
      background: $color-alpha--off-white-30;
      border-color: $color-alpha--off-white-50;
    }

    .bg-brand--yellow & {
      background: $color-alpha--dark-blue-10;
      border-color: $color-alpha--dark-blue-30;
    }
  }

  @mixin form-field--option-group-active-color {
    background: $color-brand--blue;
    border-color: $color-brand--blue;
    color: $color-brand--off-white;

    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--yellow &,
    .bg-brand--red & {
      background: $color-brand--dark-blue;
      border-color: $color-brand--dark-blue;
      color: $color-brand--off-white;
    }
  }


//// error colors ////
  @mixin form-field--feedback-color {
    color: $color--negative;
    fill: $color--negative;

    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--red & {
      color: $color-brand--yellow;
      fill: $color-brand--yellow;
    }
  }

  // specificity important
  @mixin form-field--invalid {
    background: $color--negative-5;
    border-color: $color--negative;
    
    .bg-brand--off-white &,
    .bg-brand--white &,
    .bg-brand--dark-blue &,
    .bg-brand--yellow & {
    background: $color--negative-5;
    border-color: $color--negative;
    }

    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--red & {
      border-color: $color-brand--yellow;
    }
  }

  @mixin form-field--invalid-label-color {
    .bg-brand--dark-blue &,
    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--red & {
      color: $color-brand--dark-blue;
    }
  }