@mixin full-bleed($viewport: null) {

  $viewport-clean: null;

  @if ($viewport == 's') {
    $viewport-clean: $grid-margin--s;
  }

  @else if ($viewport == 'm') {
    $viewport-clean: $grid-margin--m;
  }

  margin-left: -$viewport-clean;
  margin-right: -$viewport-clean;
  padding-left: $viewport-clean;
  padding-right: $viewport-clean;
}
