// @svg-base64($icon, $color)

@mixin svg-base64($icon, $color) {
  // remove the hexadecimal character from string
  $color-clean: str-replace(quote($color), '#', '');

  @if ($icon == 'add') {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20' fill='%23#{$color-clean}'%3E%3Cpath d='M18 9h-7V2a1 1 0 1 0-2 0v7H2a1 1 0 1 0 0 2h7v7a1 1 0 1 0 2 0v-7h7a1 1 0 1 0 0-2'/%3E%3C/svg%3E%0A");
  }

  @if ($icon == 'check') {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20' fill='%23#{$color-clean}'%3E%3Cpath d='M7.6472,15.999 C7.3972,15.999 7.1462,15.905 6.9532,15.719 L1.3052,10.265 C0.9082,9.881 0.8972,9.247 1.2802,8.851 C1.6652,8.454 2.2982,8.441 2.6942,8.825 L7.6472,13.608 L17.3052,4.279 C17.7022,3.898 18.3362,3.907 18.7192,4.305 C19.1022,4.701 19.0912,5.335 18.6942,5.719 L8.3412,15.719 C8.1482,15.905 7.8972,15.999 7.6472,15.999'/%3E%3C/svg%3E%0A");
  }

  @if ($icon == 'chevron-right-8') {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8' height='8' fill='%23#{$color-clean}'%3E%3Cpath d='M2.50025,0 C2.75625,0 3.01225,0.098 3.20725,0.293 L6.20725,3.293 C6.59825,3.684 6.59825,4.316 6.20725,4.707 L3.20725,7.707 C2.81625,8.098 2.18425,8.098 1.79325,7.707 C1.40225,7.316 1.40225,6.684 1.79325,6.293 L4.08625,4 L1.79325,1.707 C1.40225,1.316 1.40225,0.684 1.79325,0.293 C1.98825,0.098 2.24425,0 2.50025,0'/%3E%3C/svg%3E%0A");
  }

  @if ($icon == 'chevron-left-8') {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='8' height='8' fill='%23#{$color-clean}'%3E%3Cpath d='M5.5,8 C5.244,8 4.988,7.902 4.793,7.707 L1.793,4.707 C1.402,4.316 1.402,3.684 1.793,3.293 L4.793,0.293 C5.184,-0.098 5.816,-0.098 6.207,0.293 C6.598,0.684 6.598,1.316 6.207,1.707 L3.914,4 L6.207,6.293 C6.598,6.684 6.598,7.316 6.207,7.707 C6.012,7.902 5.756,8 5.5,8'/%3E%3C/svg%3E%0A");
  }

  @if ($icon == 'arrow-right-30') {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30' fill='%23#{$color-clean}'%3E%3Cpath d='M3,15.8965 L24.605,15.8965 L17.29,23.2975 C16.901,23.6905 16.905,24.3235 17.298,24.7125 C17.691,25.1005 18.324,25.0965 18.712,24.7045 L27.711,15.5995 C28.1,15.2065 28.096,14.5735 27.703,14.1855 L18.704,5.2895 C18.509,5.0965 18.255,5.0005 18.001,5.0005 C17.743,5.0005 17.485,5.0995 17.29,5.2965 C16.901,5.6895 16.905,6.3225 17.298,6.7105 L24.566,13.8965 L3,13.8965 C2.447,13.8965 2,14.3445 2,14.8965 C2,15.4485 2.447,15.8965 3,15.8965'/%3E%3C/svg%3E%0A");
  }

  @if ($icon == 'minus') {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20' fill='%23#{$color-clean}'%3E%3Cpath d='M18 11H2a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2'/%3E%3C/svg%3E%0A");
  }

  @if ($icon == 'star-filled-30') {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 5 45 20' width='30' height='20' fill='%23#{$color-clean}'%3E%3Cpath d='M29.951 10.817a1.002 1.002 0 00-.808-.68l-9.153-1.33L15.896.511c-.336-.683-1.457-.683-1.793 0L10.01 8.806l-9.154 1.33a1 1 0 00-.554 1.706L6.926 18.3l-1.564 9.117a1 1 0 001.451 1.054L15 24.167l8.186 4.304a1.006 1.006 0 001.054-.076 1 1 0 00.398-.978L23.074 18.3l6.624-6.458a1 1 0 00.253-1.025'/%3E%3C/svg%3E%0A");
  }
}
