// @hover-touch($hover:none, $include-active-state: true)

@mixin hover-touch ($hover: none, $render-active-state: true) {

  @if($render-active-state) {
    &:active {
      @content;
    }
  }

  @media (hover: $hover) {
    &:hover {
      @content;
    }
  }
}
