// @text--alternative

@mixin text--alternative {
  color: $color--dark-blue-50;

  // specific color mappings
  .bg-brand--blue &,
  .bg-brand--turquoise &,
  .bg-brand--red & {
    color: $color-alpha--off-white-50;
  }

  .bg-brand--yellow & {
    color: $color-alpha--dark-blue-70;
  }
}
