@import '00_helpers/helpers';
@import '00_helpers/variables/sizing';

@import '01_base/_base';

@import '../original/scss/02_atoms/_atoms';
@import '../original/scss/03_molecules/_molecules';
@import '../original/scss/04_organisms/_organisms';
@import '../original/scss/05_templates/_templates';
@import '../original/scss/07_vendor/_vendor';

// Overrides.
// Add missing file.
@import '01_base/colors';
@import '01_base/border-radius';
@import '01_base/hidden';
@import '02_atoms/icons';
@import '02_atoms/forms/drop-down';
@import '02_atoms/forms/text-field';
@import '02_atoms/forms/upload/_uploads';
@import '02_atoms/buttons/button';
@import '02_atoms/buttons/play';
@import '02_atoms/buttons/preloader';
@import '02_atoms/preloaders';
@import '02_atoms/separators';
@import '02_atoms/text-transform';
@import '03_molecules/badge-group';
@import '03_molecules/content-block';
@import '03_molecules/lists/checks';
@import '03_molecules/button-group';
@import '03_molecules/language-toggle';
@import '03_molecules/blocks';
@import '03_molecules/breadcrumb';
@import '03_molecules/form-group';
@import '03_molecules/location-nearby';
@import '03_molecules/tabs';
@import '03_molecules/sticky';
@import '03_molecules/sortbar';
@import '03_molecules/tags';
@import '03_molecules/tab-bar';
@import '03_molecules/notifications/toast';
@import '03_molecules/bluex-logos';
@import '03_molecules/contact-details';
@import '04_organisms/footer';
@import '04_organisms/header';
@import '04_organisms/headers/selector';
@import '04_organisms/headers/job-details--alternative';
@import '04_organisms/headers/search--alternative';
@import '04_organisms/carousels/carousel';
@import '04_organisms/carousels/quote';
@import '04_organisms/carousels/application-process';
@import '04_organisms/related-jobs';
@import '04_organisms/contact-person';
@import '04_organisms/list-item';
@import '04_organisms/blogs/overviews/carousel';
@import '04_organisms/blogs/overviews/grid';
@import '04_organisms/blogs/overviews/overview';
@import '04_organisms/secondary-search';
@import '04_organisms/modals/_modals';
@import '04_organisms/seo-links';
@import '04_organisms/navigation';
@import '04_organisms/meet-the-team';
@import '04_organisms/filter';
@import '04_organisms/my-randstad';
@import '04_organisms/popover';
@import '04_organisms/filter-bar';
@import '04_organisms/cards';
@import '04_organisms/show-more';
@import '04_organisms/quote-card';
@import '04_organisms/meta-content';
@import '04_organisms/account-info';
@import '04_organisms/data-table';
@import '04_organisms/bluex-dashboard-skill';
@import '04_organisms/bluex-personal-information';
@import '04_organisms/bluex-skills-list';
@import '04_organisms/bluex-hubspot-form';
@import '04_organisms/bluex-popover';
@import '04_organisms/list-items/podcast-item';
@import '04_organisms/bluex-google-reviews';
@import '05_templates/blog-article';
@import '05_templates/branch-details';
@import '05_templates/basic';
@import '05_templates/job-details';
@import '05_templates/job-apply';
@import '05_templates/bluex-login.form';
@import '05_templates/bluex-open-form-layout';

// mrusen hack za belgiq nav popover preloader dokato orbit si opravqt problema.
#navigationPopup {
  .button--preloader {
    background: $color--grey !important;
    .dots,
    &::before,
    &::after {
      background: #fff !important;
    }
  }

  // RBD-7676: Login error message shown with black color.
  .form-group--error {
    .form-group__feedback {
      color: $color--negative !important;
    }

    .form-group__input input {
      border-color: $color--negative !important;
    }
  }

  .popover__action {
    a {
      color: $color-brand--blue!important;
    }
  }
}

#test-prop1 {
  font-size: 10px;
}