html:not(.js) {
  .modal--navigation {
    visibility: visible;
    position: static;

    .modal__header {
      display: none;
    }

    // 1st modal slide down background
    .modal__dialog::before {
      opacity: 1;
      transform: translateY(0);
    }
    // 2nd fade in all content (non-animated)
    .modal__main {
      opacity: 1;
      padding-bottom: 12px;
      height: 100%;
      margin-top: 20px;

      // 3rd slide in fade over content
      &::after {
        transform: translateY(100%);
      }
    }
  }

  .collapsible__content {
    max-height: 100%;
  }

  .collapsible__button {
    display: none;
  }

  .collapsible__trigger.button {
    display: none;
  }

  .navigation__top {
    .navigation__service {
      display: none;
    }
  }

  .banner__slide.hidden {
    display: block !important;
  }

  .blog-overview__list {
    width: 100%;
    display: block;
    margin-left: 0 !important;
    margin-right: 0 !important;

    li {
      width: 100% !important;
      margin-bottom: 20px;
      padding: 0 !important;
    }
  }

  .carousel-hidden {
    position: relative;
    visibility: visible;
    opacity: 1;
  }

  .blog-overview--carousel .blog-overview__list:not(.slick-initialized) {
    visibility: visible !important;
  }
}
