body.filter-active {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.filter {
  // toggle
  &__toggle {
    @include font-style('body--m', 'title--s');
  }
  // content
  &__content {
    @include font-style('body--l');
  }
  // block
  &__block {
    padding: $spacing--xs $grid-margin--s $baseline * 15;

    .form-group {
      padding-bottom: $spacing--s;
    }

    .form-group .button {
      display: none;
    }

    .form-group .selection-control__label {
      color: $color-brand--blue;
    }
    // accordion
    .accordion .icon { 
      top: 0;
    }

    .link-list {
      margin-top: 0;
    }

    .link-list__link {
      @include font-style('title--xxs', 'title--s');
      color: $color-brand--dark-blue;
    }
  }

  &__clear {
    @include font-style('body--l');
    margin-bottom: $spacing--xs;
  }
  // alert
  &__alert {
    align-items: center;
    display: flex;
    margin-top: $spacing--m;

    .icon {
      margin-right: 10px;
    }

    .icon svg {
      fill: $color-brand--blue;
    }
  }
  // related
  &__related {
    margin-top: $spacing--m;
  }
  // links
  &-links {
    padding-bottom: $spacing--s;
  }

  &-links--active {
    align-items: baseline;
    display: flex;
    // chained to add specificity
    .icon.icon {
      cursor: pointer;
      margin-left: 10px;
      top: $baseline * 0.6;
    }

    svg {
      fill: $color-brand--blue;
    }
  }
  // seo content
  .seo-content {
    margin-top: $spacing--m;

    p {
      @include font-style('body--m');
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
  // rss feed
  .rss-feed {
    align-items: center;
    display: flex;
    margin-top: $spacing--m;

    span {
      color: $color-brand--blue;
      cursor: pointer;
    }

    .icon {
      margin-right: 15px;

      svg {
        fill: $color-brand--dark-blue;
      }
    }
  }
}

// viewport s - m
@include viewport--l('inversed') {
  .filter {
    &__toggle {
      align-items: center;
      background: $color-brand--off-white;
      border-top: 1px solid $color--grey;
      bottom: 0;
      cursor: pointer;
      display: flex;
      height: $baseline * 6;
      justify-content: center;
      left: 0;
      position: fixed;
      right: 0;
      z-index: 1;

      .icon {
        margin-right: 15px;
      }

      .icon svg {
        fill: $color-brand--blue;
      }
    }

    &__header,
    &__footer {
      align-items: center;
      background: $color-brand--off-white;
      display: flex;
      padding-left: $grid-margin--s;
      padding-right: $grid-margin--s;
      width: 100%;
      z-index: 2;
    }

    &__header {
      border-bottom: 1px solid $color--grey;
      height: $baseline * 8;
      top: calc(100% - 100px);
      transition: $transition-duration--fast;

      .icon {
        cursor: pointer;
        margin-left: auto;
        transition: width $transition-duration--fast;
        .scroll-active & {
          width: 15px;
        }
      }

      .icon svg {
        fill: $color-brand--blue;
      }
      .scroll-active & {
        height: $baseline * 5;
      }
    }

    &__title {
      @include font-style('title--s');
      transition: $transition-duration--fast;
      .scroll-active & {
        @include font-style('title--xs');
      }
    }

    &__content {
      background: $color-brand--off-white;
      bottom: 0;
      height: 0;
      left: 0;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
      overflow-y: scroll;
      position: fixed;
      right: 0;
      transition: height 0.4s ease, visibility $transition-duration--slow ease;
      visibility: hidden;
      z-index: 6;
    }

    &__footer {
      background: $color-brand--off-white;
      bottom: 0;
      opacity: 0;
      padding-bottom: $spacing--s;
      padding-top: $spacing--s;
      position: fixed;
      transform: translateY(100%);
      transition: bottom 0.8s ease;
    }
  }
  // filter active on mobile
  .filter__content--active {
    height: 100%;
    padding-top: $spacing--xl;
    visibility: visible;
    transition: height 0.4s ease;

    .filter__header {
      position: fixed;
      top: 0;
    }

    .filter__footer {
      bottom: 0;
      opacity: 1;
      transform: translateY(0);
      transition: transform $transition-duration--fast $transition-duration--slow, opacity $transition-duration--fast $transition-duration--slow;
    }
  }
}

// viewport l
@include viewport--l {
  .filter {
    width: grid-columns(3, 12);

    &__toggle {
      margin-bottom: $spacing--xs;
      pointer-events: none;
    }

    &__block {
      padding: 0;
    }

    &__clear {
      margin-bottom: $spacing--s;
    }

    &__block .form-group {
      padding-bottom: $spacing--m;

      .button {
        display: block;
        margin-top: $spacing--s;
      }
    }

    &__block .collapsible__button {
      height: $icon-size;
      top: $baseline * 2.9;
      width: $icon-size;

      &::before,
      &::after {
        top: $baseline * 0.9;
        width: $icon-size;
      }
    }

    .accordion .collapsible__content {
      padding-right: 0;
    }
    // related
    &__related {
      &-title {
        display: block;
        margin-bottom: $baseline * 1.5;
      }

      &-item + &-item {
        margin-top: $spacing--xs;
      }
    }
    // seo content
    .seo-content {
      margin-top: $spacing--m;
    }
  }
}
