.meet-the-team .person__name {
  @include font-style('title--s', 'title--s');
}

// viewport l
@include viewport--l {
  .meet-the-team {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    // make sure flex items are always aligned properly in last row
    &::after {
      content: '';
      display: block;
    }

    &::after,
    .person__profile {
      width: grid-columns(4, 12);
    }

    .person__profile:nth-child(-n+3) {
      margin-top: 0;
    }

    .person__image {
      margin-bottom: $spacing--s;
    }
  }

  // use grid if supported
  @supports (display: grid) {
    .meet-the-team {
      &::after {
        display: none;
      }

      display: grid;
      grid-gap: $spacing--xl grid-gutter('l');
      grid-template-columns: repeat(3, 1fr);

      .person__profile {
        margin-top: 0;
        min-width: 0;
        width: auto;
      }
    }
  }
}
