.meta-content {
  padding-bottom: $spacing--l;
  padding-top: $spacing--m;

  &__title,
  &__section-title {
    @include font-style('title--s', 'title--s');

    img + & {
      margin-top: $spacing--m;
    }
  }

  .map__gmaps {
    margin-top: $spacing--xs;
    height: $gmaps-height-small;
    width: 100%;

    // viewport l
    @include viewport--l {
      height: $gmaps-height-small;
    }
  }


  &__section-title {
    margin-bottom: $spacing--s;
  }



  &__description,
  .contact-details {
    margin-top: $spacing--s;
  }

  &__description,
  &__description p {
    color: $color-brand--dark-blue;
  }

  &__description p:last-of-type {
    margin-bottom: 0;
  }

  .divider {
    &:not(:last-child) {
      margin-bottom: $spacing--m;
      padding-bottom: $spacing--m;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
  // collapsible
  .collapsible__link {
    color: $color-brand--blue;
    transition: opacity $transition-duration;
  }

  .collapsible__trigger--expanded {
    cursor: default;
    pointer-events: none;

    .collapsible__link {
      display: none;
    }
  }
}

// viewport s - m
@include viewport--l('inversed') {
  .meta-content {
    margin-bottom: $spacing--l;

    .block & {
      margin-top: -$spacing--l;
    }
  }
}

// viewport l
@include viewport--l {
  .meta-content {
    border-radius: $border-radius--l;
    margin: 0 auto;
    padding: $spacing--l 50px;
    width: grid-columns(4,12);
  }
}

// viewport range (l - xl)
@include viewport--range($breakpoint-viewport--l, $breakpoint-viewport--xl) {
  .meta-content .time-table {
    &__item {
      flex-direction: column;
    }

    &__day {
      padding-right: 0;
    }

    &,
    &__item + .time-table__item {
      margin-top: $spacing--xs;
    }
  }
}
