.my-randstad__content-header {
  @include font-style('title--s', 'title--m');
  color: $color-brand--blue;
  margin-bottom: $spacing--s;
}

.block--my-randstad {
  .list-item--button.divider {
    border-bottom: none;
  }

  .list-item:last-child {
    margin-bottom: 0;
  }

  .list-items::after {
    background: transparent;
  }

  .block__content.divider {
    padding-bottom: $spacing--m;
  }
}

@include viewport--l {
  .my-randstad__content {
    width: grid-columns(6,8);
  }

  .block--my-randstad .block__content.divider {
    padding-bottom: $spacing--l;
  }
}
