.promotional-text {
  p {
    @include font-style('title--xs', 'title--l');

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.bg-brand--yellow p {
    color: $color-brand--off-white;
  }

  .button {
    margin-top: $spacing--m;
  }
}
