.show-more {
  text-align: center;

  &__indicator {
    margin-left: auto;
    margin-right: auto;
    max-width: 325px;
  }
}
  
.section-separator {
  color: $color--dark-blue-50;
  padding: 20px 0;
  position: relative;
  text-align: center;

  &--border:before {
    content: '';
    background: $color--grey;
    height: 1px;
    left: 50%;  
    position: absolute;
    top: calc(50% + 1px);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
  }
  
  &--border span {
    padding: 0 10px;
    position: relative;
    z-index: 2;

    .bg-brand--white & {
      background: $color-brand--white;
    }

    .bg-brand--off-white & {
      background: $color-brand--off-white;
    }
    
  }
}
  

  