.indicator-percentage {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $spacing--xs;

  &__background {
    background: $color--grey;
    border-radius: $border-radius--m;
    display: block;
    flex: 1;
    height: $baseline * 1;
    overflow: hidden;
  }

  &__amount {
    background: $color-brand--blue;
    border-radius: $border-radius--m;
    height: $baseline * 1;
  }

  &__percentage {
    @include font-style('body--m', 'body--m');
    color: $color-brand--blue;
  }

  &__background + .indicator-percentage__percentage {
    margin-left: 10px;
  }
}


.indicator-percentage--s .indicator-percentage__background,
.indicator-percentage--s .indicator-percentage__amount {
  height: $baseline * 0.6;
}
