// RBD-4318 New popover account stuff.
.account-info {
  display: flex;

  a, a:hover {
    color: inherit;
    text-decoration: none;
  }

  &__block-left {
    margin-right: $spacing--s;
  }
  
  &__photo {
    height: 100%;
    width: 60px;
    height: 60px;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__initials {
    border: 2px solid $color-brand--dark-blue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--white {
      background: $color--white;
      border-color: $color--white;
      color: $color--dark-blue-50 ;
    }
  }

  &__title {
    @include font-style('title--xs')
  }

  &__text {
    @include font-style('body--m')
  }

  &__block {
    flex-grow: 1;
  }

  .indicator-percentage {
    margin-top: 0;
  }

  &--medium {
    .account-info__photo {
      width: 80px;
      height: 80px;
    }

    .account-info__initials {
      width: 80px;
      height: 80px;
    }
  }

  &--large {
    .account-info__photo {
      width: 90px;
      height: 90px;

      img {
        object-fit: cover;
      }
    }

    .account-info__initials {
      width: 90px;
      height: 90px;
    }

    .account-info__block-left  {
      margin-right: $spacing--m;
      margin-bottom: $spacing--l;
    }
  }

  & + .form-group .upload {
    margin-top: $spacing--s;
  }
}
