.bluex-hubspot-form {
  .hs-form-field > label {
    @extend .form-group__label;
  }

  .hs-form-required {
    display: none;
  }

  .hs-form-field,
  fieldset[class*="form-columns"],
  fieldset[class*="form-columns"] + noscript,
  .hs-submit,
  .hs-dependent-field,
  .legal-consent-container {
    @extend .form-group;
    line-height: inherit;
  }

  noscript + .hs-submit {
    margin-top: $spacing--m;
  }

  .hs-dependent-field,
  fieldset[class*="form-columns"] {
    .hs-form-field,
    .hs-input {
      width: 100% !important;
    }
  }

  .input {
    margin-right: 0 !important;
  }

  .hs-error-msgs {
    label {
      @extend .form-group__feedback;
      color: $color--negative;
      fill: $color--negative;
      opacity: 1;
    }
  }

  .hs-fieldtype-booleancheckbox,
  .hs-fieldtype-checkbox {
    @include bluex-checkbox;
  }

  .hs-fieldtype-select {
    .input {
      @extend .form-group__input;
      @include bluex-dropdown-arrow;
    }
  }

  .hs-button {
    @extend .button;
  }
}
