.bluex-skills-list {
  &__list-items {
    .list-item__header {
      color: $color-brand--dark-blue;
      margin-bottom: $spacing--xxs;
    }
  }

  &__data-table {
    width: 100%;

    .list-item__controls {
      width:100px;
      top: 10px;
    }
  }
}