.bluex-dashboard-skill {

  .wrapper {
    padding-top: $spacing--m;
  }

  .rating-dynamic {
    display: flex;
    align-items: center;  
  }

  .ratings__description {
    left: 100%;
    margin-left: $spacing--s;
    margin-top: 0;
    top: 0;
  }
}

@include viewport--l {
  .bluex-dashboard-skill {
    .form-group {
      max-width: 250px;
    }

    .form-group--rating {
      padding-left: 35px;
      max-width: 350px;
    }

    .form-groups--row {
      justify-content: flex-start;
    }

    .form-group-acction {
      flex-grow: 0;
    }
  }
}


@include viewport--l('inversed') {
  .bluex-dashboard-skill {
    max-height: none!important;
  }
}