.bluex-google-reviews {
  .block__wrapper {
    @include viewport--l ('inversed') {
      position: relative;
      z-index: 0;
    }
  }

  .rating-readonly {
    max-width: none;

    &__value {
      @include font-style('title--xs');
      line-height: 1;
      color: $color-brand--blue;
      margin-right: $spacing--xs;
      font-weight: 800;
    }
  }

  .block__header {
    .rating-readonly {
      margin-top: $spacing--s;
      width: 100%;
      order: 3;

      &__icon--wrapper {
        height: 25px;
      }
    }
    .rating-readonly__description {
      @include font-style('body--m');
    }
  }

  .cards__item {
    @include viewport--l ('inversed') {
      margin-bottom: $spacing--xs;
      border-radius: 8px;
    }

    .cards__link {
      color: $color-brand--blue;
    }
    
    .cards__title {
      @include font-style('title--xs');
    }
    
    .rating-readonly {
      margin-top: $spacing--xxs;
    }

    .cards__text {
      @include font-style('body--m');
      margin-top: $spacing--s;
    }

    .cards__time-info {
      @include font-style('body--m');
    }
  }
}

@include viewport--l('inversed') {
  .bluex-google-reviews {
    .block__header {
      .rating-readonly {
        height: auto;
      }

      .rating-readonly__description {
        margin-top: $spacing--xxs;
        width: 100%;
      }
    }
  }
}
