// viewport xl
@include viewport--xl {
  .cards {
    &__list--format-grid {
      .cards__item {
        margin-bottom: $baseline * 3; // margin bottom used because of IE11 (instead of grid-gap)
      }
    }
  }
}

.cards {
  &__header {
    & + .badge-group {
      margin-top: $spacing--xs;
    }
  }

  &__list {

    & + .section-separator {
      margin-top: -$spacing--xs;

      @include viewport--l {
        margin-bottom: $spacing--s;
      }
    }
  }

  &__item {
    // RBD-6458 - Break all is causing long job titles to not be displayed correctly.
    word-break: break-word; // Fix for the long words.

    @include internet-explorer-10-11 {
      word-break: break-all;
    }
    
    &.quote-card {
      border: none;
      margin-bottom: 0;
    }
  }
  // Fix favorite overflow with modals(advanced search)
  .icon__toggler {
    z-index: 1;
  }

  // Fix for the long words. RBD-6208: Fixed broken cards__lists and items inside. + z-index on the SaveJobModal.
  // &__info-wrapper {
  //   width: 20px;
  // }

  &__time-info {
    white-space: normal;
  }

  // RBD-6208: Fixed broken cards__lists and items inside. + z-index on the SaveJobModal.
  // &__footer {
  //   flex-wrap: wrap;
  // }

  // RBD-6783: Hide skills when back side of card is displayed.
  li.cards__item--backside-active {
    .cards__skills {
      display: none;
    }
  }

  &__backside-footer {
    @include internet-explorer-10-11 {
      max-width: none !important;
    }
  }
}

@include viewport--l {
  .cards {
    &__list {
      &--double {
        .cards__item {
          width: grid-columns(6, 12);
        }

        @supports (display: grid) {
          grid-template-columns: repeat(2, grid-columns(6, 12));

          .cards__item {
            width: auto;
          }
        }

      }
    }
  }
}
