.contact-person {
  .person__placeholder {
    display: flex;
    height: 150px;
    width: 150px;
    align-items: center;
    text-align: center;

    span {
      @include font-style('title--l');
      color: $color--dark-blue-50;
      width: 100%;
      display: block;
    }
  }

  &--compact {
    &.contact-person {
      width: 100%;

      .person__profile {
        display: block;
      }

      .person__image {
        max-width: 140px;
        max-height: 140px;
        margin-top: 20px;
      }

      .person__info {
        width: 100%;
      }

      .person__name {
        @include font-style('title--s');
        margin-top: $spacing--s;
      }
    }
  }
}

@include viewport--l {
  .contact-person {
    .person__placeholder {
      span {
        @include font-style('title--m');
      }
    }
  }
}

@include viewport--xl {
  .contact-person {
    .person__placeholder {
      height: 200px;
      width: 200px;
    }
  }
}
