// RBD-5348;
.data-table {
  .collapsible__content[data-rs-collapsible-content='expanded'] {
    margin-bottom: $spacing--m;
  }

  &__content {
    padding-bottom: 0;
  }

  &--filters {
    tr {
      td {
        @include viewport--l() {
          text-align: center;
        }

        &:first-child {
          text-align: left;
        }
      }
    }

    .data-table-icon-webcast,
    .data-table-icon-slides,
    .data-table-icon-press-releases,
    .data-table-icon-transcripts {
      display: block;
      width: 45px;
      height: 45px;
      margin: 0 auto;
      overflow: hidden;
      text-indent: -9999px;
      cursor: pointer;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .data-table-icon-webcast {
      background-image: url('../../../src/assets/img/tables/webcast.svg');
    }

    .data-table-icon-slides {
      background-image: url('../../../src/assets/img/tables/slides.svg');
    }

    .data-table-icon-press-releases {
      background-image: url('../../../src/assets/img/tables/press-releases.svg');
    }

    .data-table-icon-transcripts {
      background-image: url('../../../src/assets/img/tables/transcripts.svg');
    }

    .form-group__input {
      margin-bottom: $spacing--s;

      @include viewport--l {
        width: calc(13 / 58 * 100%);
        min-width: 200px;
        margin-bottom: $spacing--m;
      }
    }
  }
}
