// Prevent overlaping with filter header.
body.filter-active {
  .filter {
    z-index: 9;
  }
}

.filter {
  .link-list {
    &__link {
      padding-right: $spacing--m;
    }
  }

  &__content--active {
    z-index: 9;
  }

  // RBD-4855.
  &__toggle {
    z-index: 2;
  }
}
