.filter-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__menu {
    padding-top: $spacing--m;
    padding-bottom: $spacing--m;

    @include font-style('body--m');
    align-items: flex-end;
    display: flex;

    &-item {
      position: relative;

      &__trigger {
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .icon {
          position: static;
          margin-left: $spacing--xxs ;
          margin-top: 2px;
        }

        svg {
          transition: transform 0.3s ease;
        }

        &.trigger--active {
          svg {
            transform: rotate(180deg);
          }
        }

        .badge {
          margin-left: $spacing--xs;
        }
      }

      & + & {
        margin-left: $spacing--l;
      }
    }
  }

  .popover {
    margin-top: 25px;

    .sticky & {
      margin-top: 45px;
    }
  }

  &__toggle {
    @include font-style('body--m');

    padding: $spacing--m / 2 0;
    display: flex;
    width: 100%;

    .badge {
      margin-left: $spacing--xs;
    }

    &__trigger {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: auto;

      .icon {
        margin-right: $spacing--m / 2;
      }
    }

    .form-group--dropdown-alternative {
      select {
        @include viewport--l('inversed') {
          direction: rtl;
        }
      }
    }

  }

  &__label {
    @include font-style('body--m');
    margin-left: auto;
    color: $color-brand--blue;
  }

}
