  .footer__info {
    p {
      @extend .text--alternative;
      @extend .text--s;
    }
  }

  .footer__search {
    @include viewport--l {
      height: 60px;
    }
  }

  .my-randstad-logged-in {
    .footer__info,
    .footer__search,
    .footer__grid:first-child {
      display: none;
    }

    .footer {
      @extend .footer--s;
    }

    .footer__grid {
      margin-top: 0;
    }
  }

  #block-footerscripts {
    order: 99;
  }
