@include viewport--l {
  .header {
    &__wrapper {
      overflow: hidden;

      .header--selector & {
        overflow: visible;
      }
    }

    // Fix for issue RBD-8306. CTA button not clickable when we have media and header__content with black text (text--dark-from-l).
    .header__media {
      z-index: 0;
    }
  }
}
