@include viewport--l {
  // Detect IE 10/11.
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .list-item {
      .button {
        margin-left:0;
      }
    }
  }

  .list-item:last-child {
    .button {
      margin-bottom: 2px;
    }
  }
}

.list-item {

  &__show-more {
    margin-top: $spacing--l;
    margin-left: 0;
    list-style-type: none ;

    a {
      @include font-style('title--xxs', 'title--s');
      color: $color--white;
    }
  }
}
