// TODO: Depricated since OU 3.4.0. To be removed soon.
.load-more {
  text-align: center;
  // RBD-6169
  overflow: hidden;

  &__indicator {
    margin-left: auto;
    margin-right: auto;
    max-width: 325px;

    @include viewport--l('inversed') {
      margin-top: $spacing--s;
    }

    .indicator-percentage {
      margin-top: 0;
    }
  }
}
