.meet-the-team {
  ~ .collapsible__trigger {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  + [aria-hidden="false"] {
    margin-top: $spacing--l;

    @include viewport--l {
      margin-top: $spacing--xl;
    }

    ~ .section-separator {
      span {
        &:first-child {
          display: none;
        }
      }
    }
  }

  + [aria-hidden="true"] {
    ~ .section-separator {
      span {
        &:last-child {
          display: none;
        }
      }
    }
  }

  & ~ .section-separator {
    margin-top: $spacing--l;
    @include viewport--l {
      margin-top: $spacing--xl;
    }
  }
}
