.meta-content {
  .media-block {
    width: grid-columns(6,12);
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    li {
      margin-bottom: $spacing--s;

      @include viewport--l {
        margin-bottom: $spacing--xs;
      }
    }
  }
}
