  .my-randstad__content {
    .form-group {
      &--upload {
        max-width: inherit;
      }

      &__label {
        display: inline-block;
      }
    }
  }

@include viewport--m('inversed') {
  .my-randstad__content {
    .form-group--action {
      .button + .button--plain {
        padding: 0;
        display: block;
      }
    }
  }
}
