.navigation {
  &__service-item {

    // TODO: Remove after update 2.3.1.
    .navigation__service-my-randstad__placeholder {
      @include font-style('body--s');
      display: block;
      width: #{$icon-size--l - 4};
      height: #{$icon-size--l - 4};
      border-style: solid;
      border-width: 2px;
      border-color: inherit;
      color: inherit;
      line-height: 26px;
      border-radius: 50%;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      position: relative;
      top: -3px;
    }

    .navigation__service-my-randstad {
      .icon + span {
        flex: auto;
      }
    }
  }

  .my-randstad-logged-in & {
    .navigation__service-my-randstad {
      .icon {
        width: $icon-size--l;
      }
    }
  }
}

@include viewport--l('inversed') {
  .navigation__top {
    // TODO: Clear z-index
    // z-index: 8;
    position: relative;
  }
}

.modal {
  &.modal--navigation {
    // TODO: Clear z-index
    // z-index: 7;
  }
}

@include viewport--l {
  .navigation {
    z-index: 3;
  }
}