.popover {
  &__action {
    flex-wrap: nowrap;
    padding-bottom: 0;

    // RBD-4318.
    &--s {
      margin-top: $spacing--xs;
    }

    &.divider {
      padding-bottom: $spacing--m;
    }

    .button + a {
      flex-shrink: 1;
      flex-basis: 0;
      flex-grow: 1;
    }

    a {
      @include font-style("body--m");
    }

    .button--full-width {
      margin-right: 0;
    }
  }

  // RBD-4318.
  & .form-group,
  & .link-list {
    margin-top: $spacing--s;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // RBD-7787: MyRandstad, in login popover, error messages make content of popover unreachable. Mainly because itsme login button.
  &--active {
    .popover__dialog {
      max-height: $baseline * 70;
    }
  }
}
