.quote-card {
  align-items: flex-start;
  display: flex;
  padding: $spacing--m;
  direction: column;

  &__media {
    width: 40px;
    margin-bottom: $spacing--s;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__text {
    @include font-style('title--xs', 'title--xs');
    margin: 0;
  }

  &__author,
  &__job-title {
    @include font-style('body--l');
    margin: 0;
  }

  &__meta {
    margin-top: auto;

    p:first-child {
      margin: $spacing--m 0 0;
    }
  }

}

@include viewport--l {
  .quote-card {
    padding-top: $spacing--l;
    padding-bottom: $spacing--l;
    flex-direction: row;

    &__media {
      width: grid-columns(1,7);
      margin-bottom: 0;
    }

    &__content {
      margin-left: auto;
      width: grid-columns(6,7);
    }

  }
}
