// TODO: To be removed
.related-jobs {
  text-transform: lowercase;

  .block {
    &__more-link {
      margin-top: $baseline * 1.5;
      margin-bottom: $spacing--s;
    }
  }

  &__box {

    &:not([class*="bg-brand"]) {
      background: white;
    }
    padding: $spacing--s;
    border-radius: $border-radius--l;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;

    .block__title {
      width: 100%;
    }

    .content-block__eyebrow {
      @include font-style('title--xxs');
      margin-bottom: $spacing--xs;
    }
  }

  .content-block__list {
    margin-top: calc(#{$spacing--m} - 5px);
    margin-bottom: $spacing--m;

    span {
      overflow: visible;
      white-space: normal;
    }
  }

  &__button {
    width: 100%;
    margin-top: auto;
  }

  .slick-track {
    display: flex;

    .slick-slide {
      height: auto;

      & > div {
        height: 100%;
      }
    }
  }

  .blog-overview__item {
    height: 100%;
  }

  .icon__toggler:hover svg {
    fill: $color-brand--red;
  }

  &__image-card {
    margin-left: -$spacing--s;
    margin-right: -$spacing--s;
    //IE 11 FIX
    @include internet-explorer-10-11 {
      height: 0px;
    }
  }

  #advanced-search-link {
    display: none;
  }

}

@include viewport--l {
  .related-jobs {
    .block__wrapper {
      padding-bottom: $spacing--xl;
    }

    &__box {
      padding: $spacing--m;

      &--big {
        .content-block__list {
          margin-bottom: $spacing--xl;
        }
      }
    }

    &__image-card {
      margin-left: -$spacing--m;
      margin-right: -$spacing--m;
    }


    .blog-overview__list {
      width: 100%;
    }

    .slick-track {
      width: 100%!important;
    }
  }
}


@include viewport--l('inversed') {
  .related-jobs {
    .slick-list {
      max-width: 400px;

    }
  }
}
