@include viewport--l {
  .secondary-search {
    .banner {
      &__content {
        padding-bottom: $spacing--xl;
      }
    }
  }
}

.secondary-search {
  .banner {
    &__media--overflow {
      img {
        position: relative;
        top: -10%;
      }
    }
  }
}

@include viewport--l('inversed') {
  .secondary-search {
    .banner {
      &__media--overflow {
        overflow: hidden;
        padding-top: 0;

        img {
          top: -20px;
        }
      }
    }
  }
}
