// TODO: To be removed - after implementing link list extensive

.seo-links {
  em {
    font-style: normal;
  }
  .collapsible__content {
    li {
      @include font-style('body--m', 'body--m');
    }
    li + li {
      margin-top: $spacing--xs;
    }
  }

  &__title {
    @include font-style('title--xs', 'body--l');
    display: block;
  }
}

@include viewport--l {
  .seo-links {
    &__grid {
      display: flex;
      flex-wrap: wrap;
    }

    .block__wrapper {
      padding-bottom: $spacing--xl;
    }

    .divider {
      border-bottom: 0;
    }

    &__column {
      width: grid-columns(3,12);
      margin-right: grid-columns(.8, 12);
      padding-bottom: $spacing--l;

      &:nth-child(4n) {
        margin-right: 0;
      }

      .collapsible__button {
        display: none;
      }

      .collapsible__content {
        max-height: 100% !important; // overwrite possible in-line max-height set by JS on small viewport
        overflow: visible;
        transition: none;

        li + li {
          margin-top: $spacing--xxs;
        }
      }
    }

    &__title {
      margin-bottom: $spacing--xs;
    }
  }
}

@include viewport--l('inversed') {
  .seo-links {
    .block__content {
      margin-top: $spacing--xs;
    }

    .block__title {
      @include font-style('title--m');
    }

    &__column .collapsible__trigger--expanded + .collapsible__content {
      margin-bottom: $spacing--m;
    }

    &__title {
      padding: ($baseline * 1.5) 50px $spacing--s 0;
    }
  }
}
