.badge-group {
  overflow: hidden;
  
  .badge {
    & + .badge,
    &:first-child {
      margin-right: $spacing--xxs;
      margin-top: $spacing--xxs;
  
      @include viewport--l {
        margin-right: $spacing--xs;
        margin-top: $spacing--xs;
      }
    }
  }
}