.block {
  &__list {
    &__item {
      margin-top: $spacing--s;
    }

  }

  &__wrapper {
    .block--top-offset-xs & {
      padding-top: $spacing--xs;
    }
  }

  // .show__less {
  //   display: none;
  // }

  // [data-rs-collapsible-content="expanded"] {
  //   &~.button {
  //     .show__less {
  //       display: inline-block;
  //     }

  //     .show__more {
  //       display: none;
  //     }
  //   }
  // }

  .collapsible__trigger {
    .show-less {
      display: none;
    }

    &--expanded {
      .show-less {
        display: inline-block;
      }

      .show-more {
        display: none;
      }
    }
  }

  &__header--l {

    .block__description,
    .block__description p {
      @include font-style();
    }
  }
}

// TODO: Override button coloring for plain.
.block__wrapper {
  .block__list {
    .button--plain {
      border-color: transparent !important;
      color: $color--blue-80 !important;

      &:hover {
        background: none !important;
        color: $color-brand--blue !important;
      }
    }
  }
}

.block {
  @include viewport--l {
    &__list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-top: -$spacing--m;

      &__item {
        width: calc(#{grid-columns(5, 12)} + (#{2 * $grid-margin--s}));
        margin-top: $spacing--m;
      }
    }

    &__header--split {
      select {
        max-width: 300px;
      }
    }
  }

  &__header--side {
    margin-top: 0;
  }
}

@include viewport--l {
  .block {

    &__content {
      &--xs {
        padding-right: calc(((#{$grid-column-units} + #{$grid-gutter-units}) / #{$grid-units-total--xs}) * 100%);
      }

      &--align-right.block__content--xs {
        padding-right: 0;
      }
    }

    &__wrapper {

      &--s {
        padding-top: $spacing--xl;
        padding-bottom: $spacing--l;
      }
    }
  }
}

@include viewport--l ('inversed') {
  .block {
    &__header {
      .form-group {
        margin-top: $spacing--s;
      }
    }

    &__content--full-on-m {
      .pagination {
        margin-left: $grid-margin--m;
        margin-right: $grid-margin--m;
      }
    }
  }
}

@include viewport--m ('inversed') {
  .block {
    &__content--full-on-m {
      .pagination {
        margin-left: 0;
        margin-right: 0;
        padding-left: $grid-margin--s;
        padding-right: $grid-margin--s;
      }
    }
  }
}

// Custom top offsets.
@include viewport--l('inversed') {
  .block--top-offset-xxs-until-l {
    .block__wrapper {
      padding-top: $spacing--xxs;
    }
  }

  .block--top-offset-zero-until-l {
    .block__wrapper {
      padding-top: 0 !important;
    }
  }
}

@include viewport--l() {
  .block--top-offset-xs {
    .block__wrapper {
      padding-top: $spacing--xs;
    }
  }
}

.block--xxs {
  .block__wrapper {
    padding-top: $spacing--m;
    padding-bottom: $spacing--m;
  }

  & + .body-copy .title--s {
    margin-top: $spacing--m;
  }
}