// breadcrumb
//
// Breadcrumb indicates the current position on the page and allows
// to navigate to higher site section.
//
//
// styleguide 3.breadcrumb

// viewport large
@include viewport--l {
  .breadcrumb {
    &__item {
      color: $color-alpha--off-white-50;

      .bg-brand--off-white &,
      .bg-brand--yellow & {
        color: $color-alpha--dark-blue-70;

        &:last-child {
          color: $color-brand--dark-blue;
        }
      }

      &:last-child {
        color: $color-brand--off-white;
      }
    }
  }
}
// Fix the white space between navigation and breadcrumbs in search app.
.navigation__bottom {
   // viewport large
 @include viewport--l {
  .breadcrumb {
    padding-top: $baseline * 1.5;
    margin-top: 0;
    box-sizing: content-box;
  }
 }
}
