.button-group {
  &--save-icon {
    margin-left: 0;
    margin-right: 0;

    .list-item__save {
      margin-left: auto;
      position: relative;
      top: 15px;
    }

    .button {
      margin: 0;

      &.button--full-width {
        width: calc(100% - #{$icon-size--l + $spacing--s});
        flex: inherit;
      }
    }

  }
}

@include viewport--l {
 .button-group {
  &--save-icon {
    .button {
      &.button--full-width {
        width: calc(100% - #{$icon-size--l + $spacing--m});
      }
    }

    // Reversed state.
    &.button-group--reverse-on-l {
      .list-item__save {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
}
}
