.contact-details {

  // RBO-340: Add title support on contact details.
  &__item {
    flex-wrap: wrap;
  }

  &__title {
    width: 100%;
    @include font-style('body--m');
    margin-bottom: $spacing--xxs;
  }
}
