.form-group {

  // TODO: remove this after update 2.3.1.
  &__input--icon {
    input[type],
    input[type]:focus {
      padding-left: 50px;
    }

    .icon {
      left: 20px;
      top: 20px;
    }
  }

  &__divider--text {
    background: $color--grey;
    text-align: center;
    height: 1px;
    margin: 35px 0;

    span {
      position: relative;
      top: -15px;
      background: $color-brand--off-white;
      padding: 0px 15px;
      color: $color--dark-blue-50;
    }
  }

  &--text {
    margin-bottom: $spacing--s;
  }

  &--dropdown-alternative {
    display: flex;
    align-items: center;

    .form-group__label {
      margin-bottom: 0;
      color: $color--dark-blue-50;
    }
  }

  &__feedback {
    & + .form-group__input {
      margin-top: $spacing--xs;
    }
  }

  &:not(.button-group--full-width) {
    .location-nearby {
      margin-top: $spacing--xxs;
      margin-bottom: $spacing--s;
    }
  }

  .button--full-width + .button {
    margin-top: $spacing--s;
  }

  // RBD-5707
  .bg-brand--blue & {
    &--error .form-group__feedback {
      color: $color-brand--dark-blue;
    }
  }

  &--nested {
    .form-group__message {
      span {
        display: block;
        margin-top: $spacing--m;
        color: $color-brand--dark-blue;
      }
    }

    .form-group__message,
    .form-group__label,
    .form-group__feedback,
    &:not(.form-group--selection-control) .form-group__input {
      margin-left: 35px;      
    }
  }
}

@include viewport--l {
  .block__content .form-group--text {
    margin-bottom: $spacing--l;
    width: grid-columns(8,9);
  }
}
