// TODO: Depricated since OU 3.4.0. To be removed soon.
.image-placeholder {
  border-radius: $border-radius--l;
  // Ratio 3:2
  padding-top: 66.66%;
  position: relative;

  .content-block {
    &__title {
      position: absolute;
      padding: $spacing--s;
      top:0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__title-top,  &__title-bottom {
      @include font-style('title--s', 'title--m');
      @include text-ellipsis;
    }

    &__title-bottom {
      text-align: right;
    }
  }
}

@include viewport--l {
  .image-placeholder {
    .content-block {
      &__title {
        padding: $spacing--m;
      }
    }
  }
}
