.top-link {
  &__item {
    position: relative;
    text-transform: lowercase;
  }

  .popover {
    width: 500px;
    top: 30px;
    right: -30px;

    @include viewport--l {
      &::before {
        right: 70px;
      }
    }

    &__title {
      text-transform: lowercase;
    }
  }

  .link-list {
    width: 100%;
    margin-top: $spacing--xs;

    &__item {
      width: grid-columns(4,8);
      margin-left: 0;

      &:first-child {
        border-top: none;
      }
    }

    &__link {
      @include font-style('body--l');
      padding: 5px 0;
      text-transform: lowercase;

      &:hover {
        text-decoration: underline;
        color: $color-brand--blue;
        opacity: 0.8;
      }
    }
  }

  &.language-switcher {
    .top-link__item {
      text-transform: uppercase;
    }
  }
}
