// sortbar
//
// enables to filter and sort content on the page.
//
// markup: ../../../dist/prototype/03_molecules/sortbar.html
//
// styleguide 3.sortbar

.sortbar {
  &--big {
    padding-top: $spacing--s;
    padding-bottom: $spacing--xs;
    border-bottom: none;

    .sortbar__count {
      @include font-style('body--l', 'title--s');
    }

    .toggable-group__item {
      & + .toggable-group__item {
        margin-left: $spacing--xs;
      }

      & + .form-group {
        margin-left: $spacing--s;
      }
    }
  }
}

@include viewport--l {
  .sortbar {
    &--big {
      padding-top: $spacing--m;
      padding-bottom: $spacing--s;
    }
  }
}
