.sticky {
  width: 100%;
  top: 0;
  z-index: 8;
  position: fixed;
  border-bottom: 1px solid transparent;

  &.sticky--animate {
    opacity: 0;
    transform: translateY(-100%);

    &.drop-down {
      transition: transform .25s ease-out,opacity .25s ease-out;
      opacity: 1;
      transform: translateY(0);
    }

    &.drop-up {
      transition: transform .25s ease-out,opacity .25s ease-out;
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  &.bg-brand--off-white {

    &:not(.sticky--animate),
    &.drop-down {
      border-color: $color--grey;
    }
  }

  &.bg-brand--dark-blue {
    &:not(.sticky--animate),
    &.drop-down {
      border-color: $color-alpha--off-white-50;
    }
  }

}
