// TODO: Need to be moved in organisms.
.tab-navigation {
  border-bottom: 2px solid $color-brand--off-white;

  .toggable-group {
    position: relative;
    top: 2px;

    &__item {
      margin-left: 0;
      border: 2px solid $color-brand--off-white;
      background: $color-brand--off-white;
      border-radius: 0;
      color: $color-brand--dark-blue;
      justify-content: center;

      &--active,
      &:hover,
      &:focus,
      &:active {
        border-bottom-color: $color--white;
        background: $color--white;
      }
    }
  }

  &-filter {
    border-bottom: 1px solid $color--grey;

    .toggable-group__item {
      @include font-style('title--xxs');
      width: 50%;
      padding-top: $spacing--xs;
      padding-bottom: $spacing--xs;
      border: 0;
      color: $color--dark-blue-50;
      background: none;
      position: relative;

      &--active,
      &:hover,
      &:focus,
      &:active {
        color: $color-brand--dark-blue;
        background: transparent;
      }

      &:before {
        content: none;
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $color-brand--dark-blue;
      }

      &--active {

        &:before {
          content: '';
        }
      }
    }

    &--icons {
      .toggable-group {
        align-items: flex-end;

        &__item {
          display: block;
          text-align: center;
          color: $color--dark-blue-50;
          // Avoid badge top cut cause by overflow.
          padding-top: #{$spacing--xs + 3};

          .icon {
            display: block;
            margin: 0 auto $spacing--xxs;

            svg {
              fill: $color--dark-blue-50;
            }
          }

          .badge {
            position: absolute;
            // Avoid badge top cut cause by overflow.
            top: 2px;
            z-index: 1;
          }

          .label {
            display: block;
            @include font-style('body--s');
          }

          &--active {
            color: $color-brand--dark-blue;

            .icon {
              svg {
                fill: $color-brand--dark-blue;
              }
            }
          }
        }
      }
    }

    &--animate {
      span {
        z-index: -1;
      }
      .toggable-group__item {
        overflow: hidden;


        &:before {
          content: '';
          left: 100%;
          transition: left 0.3s;
          opacity: 0;
        }

        &--active {
          &:before {
            left: 0;
            opacity: 1;
          }

          & ~ .toggable-group__item {
            &:before {
              left: -100%;
              opacity: 0;
            }
          }
        }

        &--prev,
        &--next {
          &:before {
            opacity: 1 !important;
          }
        }
      }
    }
  }


}

@include viewport--m('inversed') {
  .tab-navigation {
    .toggable-group {
      &__item {
        width: 50%;
      }
    }
  }
}


.tab-content {
  &--animate {
    display: block;
    position: absolute;
    left: -100%;
    transition: left 0.3s, opacity 0.2s;
    width: 100%;
    opacity: 0;

    &:not([hidden=""]) {
      left: 0;
      opacity: 1;

      & ~ div {
        opacity: 0;
        left: 100%;
      }
    }
  }
}

