.tab-bar {
  // ppetkov - RBD-5075: Hide scroll bar in IE
  -ms-overflow-style: none; // edge hide scrollbar
}

// .bg-brand--off-white {
//   .tab-bar {
//     .fade-element--right {
//       background:linear-gradient(to right,rgba(255,255,255,0) 0,$color-brand--off-white 30%);
//     }

//     .fade-element--left {
//       background:linear-gradient(to left,rgba(255,255,255,0) 0,$color-brand--off-white 30%);
//     }
//   }
// }

