.link-tags {
  // RBD-4211: Remove whitespace from orbit markup, which create space and handle it with css.
  &__item:not(:last-child)::after {
    margin-left: 0px;
    margin-right: 4px; // correct spacing
  }
}

