.badge {
  @include font-style('body--m');
  @include text-ellipsis;
  border-radius: $badge-width / 2;
  height: $badge-width;
  line-height: $badge-line-height;
  min-width: $badge-width;  
  text-align: center;

  &--l {
    padding: 0 15px;
  }

  &--s {
    @include font-style('body--s');
    border-radius: 50%;
    height: $badge-width--s;
    line-height: $badge-line-height--s;
    min-width: $badge-width--s;
  }
}
