.divider {
  border-bottom: 1px solid $color--grey;
}

.divider--top {
  border-bottom: 0;
  border-top: 1px solid $color--grey;
}

// background/color mappings
.bg-brand {
  &--blue,
  &--yellow {
    .divider {
      border-color: $color-alpha--dark-blue-30;
    }
  }

  &--dark-blue,
  &--turquoise, 
  &--red {
    .divider {
      border-color: $color-alpha--off-white-50;
    }
  }
  
  &--off-white {
    .divider{
      border-color: $color--grey;
    }
  }
}
