.icon {
  box-sizing: content-box;
  color: $color-brand--dark-blue;
  height: $icon-size;
  line-height: 0;
  position: absolute;
  right: 0;
  width: $icon-size;

  &--hover {
    transition: color $transition-duration--fast;

    &:hover {
      color: $color-brand--blue;
    }
  }

  &--xs {
    height: $icon-size--xs;
    width: $icon-size--xs;
  }

  &--s {
    height: $icon-size--s;
    width: $icon-size--s;
  }

  &--l {
    height: $icon-size--l;
    width: $icon-size--l;
  }

  &--xl {
    height: $icon-size--xl;
    width: $icon-size--xl;
  }

  &--xxl {
    height: $icon-size--xxl;
    width: $icon-size--xxl;
  }

  &--xxxl {
    height: $icon-size--xxxl;
    width: $icon-size--xxxl;
  }

  &--inline {
    display: inline-block;
    position: relative;
    right: inherit;
  }

  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }
  // svg color fills
  &.fill {
    &-brand--blue svg {
      fill: $color-brand--blue;
    }

    &-brand--dark-blue svg {
      fill: $color-brand--dark-blue;
    }

    &-brand--turquoise svg {
      fill: $color-brand--turquoise;
    }

    &-brand--off-white svg {
      fill: $color-brand--off-white;
    }

    &-brand--red svg {
      fill: $color-brand--red;
    }

    &-brand--yellow svg {
      fill: $color-brand--yellow;
    }

    &-brand--white svg {
      fill: $color-brand--white;
    }

    &--dark-blue-50 svg {
      fill: $color--dark-blue-50;
    }
  }

  &--valid svg {
    fill: $color--positive;
  }
}

// default color mappings
.bg-brand {
  // idle
  &--blue,
  &--dark-blue,
  &--turquoise,
  &--red {
    .icon {
      color: $color-brand--off-white;
    }
  }
  // hover
  &--dark-blue {
    .icon--hover:hover {
      color: $color-brand--blue;
    }
  }

  &--blue,
  &--turquoise,
  &--red {
    .icon--hover:hover {
      color: $color-brand--dark-blue;
    }
  }

  &--yellow {
    .icon--hover:hover {
      color: $color-brand--off-white;
    }
  }
}
