// crops image to circle
img {
  display: block;
  max-width: 100%;
}

.image {
  &--circle {
    border-radius: 50%;
    overflow: hidden;

    img {
      display: block;
      max-width: 100%;
      width: auto;
    }
  }
}
