a,
.button--link-style {
  color: $color-brand--blue;
  text-decoration: none;

  &:hover {
    text-decoration: none
  }
}
// for m, l and bigger viewports
@include viewport--m {
  a,
  .button--link-style {
    color: $color-brand--blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline
    }
  }
  // transition text-decoration for browsers that support it
  @supports (text-decoration-style: solid) {
    a, 
    .button--link-style {
      -webkit-text-decoration: underline solid inherit; //add vendor prefix to fix Safari specific issues
      text-decoration: underline solid transparent;


      &:hover {
        text-decoration: underline solid currentColor;
      }

      &,
      &:hover {
        @include transition(text-decoration, $transition-duration--fast);
      }
    }
  }
}
