.logo-randstad {
  line-height: 0;

  svg {
    fill: $color-brand--white;
    overflow: visible;

    // background / color default mappings
    .bg-brand--off-white &,
    .bg-brand--white & {
      fill: $color-brand--blue;
    }
  }
}
