.split-view--photo .media-block {
  @include viewport--m {
    height: $baseline * 25;
    overflow: hidden;
    position: relative;
  }

  @include viewport--l {
    height: auto;    
    position: absolute;
  }

  img {
    @include viewport--m('inversed') {
      height: auto;
      position: static;
      transform: none;
    }

    @include viewport--m {
      position: absolute;
    }

    @include viewport--l {
      bottom: auto;
    }
  }
}
