.header--jobs {
  .content-block__list li {
    line-height: 0;
  }

  .content-block__list a {
    @include font-style('body--m', 'title--xs');
    color: $color-brand--dark-blue;
    margin-bottom: 0;

    .icon {
      color: $color-brand--yellow;
    }
  }
}


@include viewport--l {
  .header--jobs {

    .content-block__list {
      margin-top: $spacing--m;
    }

    .content-block__eyebrow + .content-block__title {
      margin-top: $spacing--s;
    }

    .media-block img {
      margin: 0 0 0 auto;
    }
  }
}
