@include viewport--l {
  .header--welcome {

    .header__content {
      padding-bottom: 0;
    }

    .content-block__title {
      margin-bottom: $spacing--l;
    }

    .content-block__eyebrow + .content-block__title {
      margin-top: $spacing--s;
    }

    .media-block img {
      margin: auto 0 0 auto;
    }
  }
}
