// buttons
//
// default buttons
//
// markup: ../../../dist/prototype/02_atoms/buttons.html
//
//
// styleguide 2.buttons

.button {
  // Fix for iOS when the button is input
  -webkit-appearance: none;
}

.bg-brand--off-white a.button {
  // off-white
  &.button--off-white { // chained to add specificity
    // using mixin to be able to extend in media queries
    @include button--off-white;
  }
}
