.bluex-button--preloader {
  &:not([disabled]) {
    .preloader {
      display: none;
    }
  }

  &:disabled {
    position: relative;

    .button__text {
      opacity: 0;
    }

    .preloader {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
}
