.toast {
  &--active {
    // Conflict with job cards hearts.
    // RBD-5385
    z-index: 3;
  }

  a {
    cursor: pointer;
  }

  // RBD-4888 - fix collapse between message and cta.
  &__message {
    width: 100%;
  }
}