// viewport l
@include viewport--l {
  .basic-layout {
    display: flex;

    &__main {
      width: grid-columns(6, 12);
      margin-right: auto;
    }

    &__side {
      margin-right: auto;
      width: grid-columns(4, 12);
    }

    .meta-content {
      width: 100%;
    }
  }
}

@include viewport--l('inversed') {
  .basic-layout {

    .block__header + & {
      margin-top: 0;
    }

    &__main {
      margin-bottom: $spacing--l;
    }

    &--inversed {
      display: flex;
      flex-direction: column-reverse;

      .basic-layout__main {
        margin-bottom: 0;
      }

      .meta-content {
        margin-bottom: 0;
        margin-top: $spacing--s;
      }
    }
  }
}
