@include viewport--l('inversed') {
  .blog-article {

    .block + .block {
      margin-top: 0;
    }

    .block + .block,
    &__side + &__main {
      margin-bottom: $spacing--l;
    }

    &__side {
      .block + .block {
        margin-bottom: 0;
      }
    }
  }
}
