.bluex-open-form-layout {
  padding-top: $spacing--m;

  .meta-content {
    .meta-content__title {
      @include font-style('title--xs', 'title--s');
    }
    
    &__section-title {
      @include font-style('title--xs', 'title--xs');
    }

    .contact-details {
      margin-bottom: $spacing--xs;
      
      li {
        padding-bottom: $spacing--xs;
      }
    }
  }

  .account-info a {
    color: $color-brand--blue;
  }

  .notice-in-page {
    margin-top: $spacing--m;
    margin-bottom: $spacing--s;
    max-width: 100%;
  }

  .person__image {
    background: $color--white;
  }

  .cxsFieldType_checkbox {
    .form-group__message {
      @include font-style('body--s');
      margin-left: 35px;
    }
  }

  .form-group--datepicker {
    width: 100% !important;
  }

  &__main {
    .webform-submission-form {
      .form-group__label {
        text-transform: inherit;
      }
    }
  }
}

@include viewport--l {
  .bluex-open-form-layout {
    padding-top: $spacing--l;
    padding-bottom: $spacing--xl;

    &__title {
      @include font-style('title--s');
    }

    .meta-content {
      width: 100%;
    }

    &__main {
      width: grid-columns(6, 12);

      .cxsApplyButton {
        width: auto;
        max-width: 310px;
      }
    }

    &__side {
      width: grid-columns(5, 12);
      margin-left: auto;
    }

    .form-group:not(.form-groups--row),
    .section-separator {
      max-width: grid-columns(8, 12);
    }

    .cxsPrivacystatementSection {
      .form-group {
        max-width: 100%;
      }
    }

    .form-groups--row .form-group + .form-group {
      margin-left: $spacing--s;
    }
  }
}



@include viewport--l('inversed') {
  .bluex-open-form-layout {
    padding-bottom: 0;

    .meta-content {
      margin-top: $spacing--l;
      margin-bottom: 0;
    }
  }
}
