.bluex-login-form {
  justify-content: center;

  &__title {
    @include font-style('title--xs');
  }

  &__subtitle {
    margin-top: $spacing--xs;
  }
}

@include viewport--l {
  
  .bluex-login-form {
    padding-top: $spacing--l;
    
    &__form {
      max-width: grid-columns(4, 12);
    }
  }
}
