// viewport l
@include viewport--l {
  .branch-details {
    display: flex;
    padding-bottom: $spacing--xl;
    padding-top: $spacing--xl;

    &__main {
      width: grid-columns(7, 12);
    }

    &__side {
      margin-right: auto;
      width: grid-columns(4, 12);
    }

    .meta-content {
      width: 100%;
    }
  }
}

@include viewport--l('inversed') {
  .branch-details {
    &__main {
      margin-bottom: $spacing--l;
    }
  }
}
