.job-apply {

  .tab-navigation {
    margin-bottom: $spacing--m;
  }

  &__text {
    @include font-style('title--s', 'title--s');
    margin-bottom: $spacing--s;
    color: $color-brand--blue;
  }

  .form-group--upload {
    max-width: 100%;
  }

  .form-group--selection-control {
    & + .form-group--selection-control {
      margin-top: $spacing--xs;
    }
  }
}

@include viewport--l {
  .job-apply {
    padding-bottom: $spacing--xl;
    padding-top: $spacing--xl;

    .tab-navigation {
      margin-bottom: $spacing--l;
    }

    &__layout {
      display: flex;
      width: 100%;
    }
    &__main {
      width: grid-columns(6, 12);
    }

    &__side {
      margin-right: auto;
      width: grid-columns(5, 12);
    }

    .meta-content {
      width: 100%;
    }
  }
}

@include viewport--m('inversed') {
  .job-apply {

    .button {
      width: 100%;
    }
  }
}

@include viewport--l('inversed') {
  .job-apply {
    padding-bottom: 0;

    .meta-content {
      margin-top: $spacing--l;
      margin-bottom: 0;
    }
  }
}
