.job-details {
  .block__title {
    margin-bottom: $spacing--m;
  }

  .body-copy {

    ul {
      margin-bottom: $spacing--m;
    }
    & + .accordion {
      text-transform: lowercase;
      margin-top: $spacing--m;
    }

    .button {
      margin-top: $spacing--s;
    }

    [aria-expanded="true"] {
      &:not(.collapsible__trigger) {
        display: inline-block;
      }

      & + .collapsible__content {
        display: inline-block;
      }

      .read-more-dots {
        display: none;
      }
    }
  }

  @include viewport--l('inversed') {
    .basic-layout__main {
      margin-bottom: 0;
    }
  }
}

@include viewport--l {
  .job-details {
    padding-bottom: $spacing--xl;
  }
}

