// modal
//
// A modal is a lightbox screen over the page to provide focus
// to edit of provide information.
//
// markup: ../../../dist/prototype/04_organisms/modals/modal.html
//
//
// styleguide 4.modal

// modal
.modal-split-view {

  &--photo {
    padding-right: 0 !important;

    &:not(.modal--popup) {
      .modal__close {
        svg {
          color: $color-brand--dark-blue;
        }

        &--off-white {
          svg {
            color: $color-brand--off-white;
          }
        }
      }
    }

    .modal {
      &__header {
        position: absolute;
        top: 0;
        right: 0;
        justify-content: flex-end;
        border-bottom: 0;
      }

      &__dialog {
        width: auto;

        &:before {
          display: none;
        }

        .wrapper {
          @include viewport--l {
            padding-right: $spacing--l;
            padding-left: $spacing--l;
          }
        }

        .banner__content {
          @include viewport--l {
            padding-top: $spacing--l;
            padding-bottom: $spacing--l;
          }
        }

        .content-block__description {
          & + .content-block__description {
            margin-top: $spacing--m;

            @include viewport--l {
              margin-top: $spacing--l;
            }
          }
        }

        .button {
          width: 100%;
          margin-top: $spacing--l;

          @include viewport--l {
            margin-top: $spacing--m;
            width: auto;
          }
        }
      }

      &__main {
        height: 100vh;
        padding: 0;

        @include viewport--l {
          min-width: 1024px;
          height: 100%;
        }
      }

      &__main--overflow {
        &:after {
          display: none;
        }
      }
    }
  }
}

