// modal
//
// A modal is a lightbox screen over the page to provide focus
// to edit of provide information.
//
// markup: ../../../dist/prototype/04_organisms/modals/modal.html
//
//
// styleguide 4.modal

@function webkit-slider-thumb-shadow-dark-blue($i: 1) {
  $val: #{$i}px 0 0 -#{($range-slider-thumb-size - 2.4px) / 2} #{$color-brand--dark-blue};

  @if $i == 1 {
    @for $k from 2 through $range-slider-max-width {
      $val: #{$val}, webkit-slider-thumb-shadow-dark-blue($k);
    }
  }

  @return $val;
}

// modal
.modal__find-job {
  padding: 0;
  pointer-events: none;
  z-index: 10;

  &:not(.modal--popup):not(.modal--cookie) {
    .modal__close {
      pointer-events: auto;

      svg {
        color: $color--white;
      }
    }
  }

  &.modal--active {
    background-color: $color-brand--blue;
  }

  &.modal--final {
    background-color: $color-brand--dark-blue;

    .modal__header {
      justify-content: flex-end;
    }

    .modal__dialog {
      background-color: $color-brand--dark-blue;

      &:before {
        background-color: $color-brand--dark-blue;
      }
    }

    .modal__counter {
      display: none;
    }
  }

  &.modal--no-jobs {
    .modal__counter {
      display: none;
    }

    .modal__header {
      justify-content: flex-end;
    }
  }

  .modal {
    &__close {
      display: flex;
      align-items: center;

      .modal__close--text {
        @include viewport--l {
          margin-right: $baseline * 1.5;
          @include font-style('body--m');
          color: $color-brand--off-white;
        }
      }
    }
    &__dialog {
      width: 100vw;
      height: 100vh;
      margin-top: 0;
      border-radius: 0;
      background-color: $color-brand--blue;
      // RBD-6231
      max-height: 100%;

      &:before {
        background-color: $color-brand--blue;
      }
    }

    &__header {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      padding: ($baseline * 2.5);
      justify-content: flex-end;
      border-bottom: 0;

      @include viewport--l {
        padding: $spacing--l $spacing--l 0 ($baseline * 13.5);
      }
    }

    &__main {
      position: absolute;
      opacity: 1;
      width: 100vw;
      height: 100vh;
      padding: ($baseline * 6.5) ($baseline * 2.5) ($baseline * 2.5) ($baseline * 2.5);
      transition: opacity $transition-duration--slow;
      pointer-events: auto;

      &::after {
        @include viewport--l('inversed') {
          background: linear-gradient(to bottom, rgba(33, 117, 217, 0) 0%, rgba(33, 117, 217, 1) 15%, rgba(33, 117, 217, 1) 100%);
          transition-delay: 0.39s;
        }
      }

      @include viewport--l {
        overflow: hidden;
        padding: ($baseline * 24) $spacing--l ($baseline * 2.5) ($baseline * 13.5);
      }

      .modal__loading {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
        background-color: $color-brand--blue;

        &--hidden {
          display: none;
        }

        .spinner {
          display: block;
          width: 100%;
          margin: 0;
          padding-top: $baseline * .2;
          text-align: center;
        }

        .spinner > div {
          width: 18px;
          height: 18px;
          background-color: $color-brand--off-white;
          border-radius: 100%;
          display: inline-block;
          -webkit-animation: sk-bouncedelay3 1s infinite ease-in-out both;
          animation: sk-bouncedelay3 1s infinite ease-in-out both;
        }

        .spinner .bounce1 {
          -webkit-animation-name: sk-bouncedelay;
          animation-name: sk-bouncedelay;
        }

        .spinner .bounce2 {
          -webkit-animation-name: sk-bouncedelay2;
          animation-name: sk-bouncedelay2;
        }

        .spinner .bounce3 {
          -webkit-animation-name: sk-bouncedelay3;
          animation-name: sk-bouncedelay3;
        }
      }

      &--hidden {
        opacity: 0;
        pointer-events: none;
      }

      .find-job__two-columns {
        @include viewport--l {
          display: flex;

          .form-group {
            flex-grow: 1;
            max-width: 385px;
            margin-right: $spacing--xs;
          }

          .find-job__btn {
            margin-top: $spacing--m;
          }
        }
      }

      .content-block__title {
        &:last-of-type {
          margin-bottom: $spacing--s;

          @include viewport--l {
            margin-bottom: $spacing--l;
          }
        }
      }

      .content-block__description {
        text-transform: lowercase;
      }

      .find-job__btn {
        width: 100%;
        margin-top: $spacing--s;

        @include viewport--l {
          width: auto;
        }

        .find_job--text-no-results {
          display: none;
        }

        &--no-results {
          pointer-events: none;

          .find_job--text-show,
          .find_job--job-results,
          .find_job--text-matching {
            display: none;
          }

          .find_job--text-no-results {
            display: inline;
          }
        }

        .spinner {
          display: none;
        }

        &--loading {
          pointer-events: none;

          &:hover {
            background: transparent !important;
          }

          .spinner {
            display: block;
            width: 100%;
            margin: 0;
            padding-top: $baseline * .2;
            text-align: center;
          }

          .spinner > div {
            width: 18px;
            height: 18px;
            background-color: $color-brand--off-white;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay3 1s infinite ease-in-out both;
            animation: sk-bouncedelay3 1s infinite ease-in-out both;
          }

          .spinner .bounce1 {
            -webkit-animation-name: sk-bouncedelay;
            animation-name: sk-bouncedelay;
          }

          .spinner .bounce2 {
            -webkit-animation-name: sk-bouncedelay2;
            animation-name: sk-bouncedelay2;
          }

          .spinner .bounce3 {
            -webkit-animation-name: sk-bouncedelay3;
            animation-name: sk-bouncedelay3;
          }

          @-webkit-keyframes sk-bouncedelay {
            0%, 50%, 100% { -webkit-transform: scale(0.5) }
            25% { -webkit-transform: scale(1.0) }
          }

          @keyframes sk-bouncedelay {
            0%, 50%, 100% {
              -webkit-transform: scale(0.5);
              transform: scale(0.5);
            } 25% {
                -webkit-transform: scale(0.75);
                transform: scale(0.75);
              }
          }

          @-webkit-keyframes sk-bouncedelay2 {
            0%, 25%, 75%, 100% { -webkit-transform: scale(0.5) }
            50% { -webkit-transform: scale(0.75) }
          }

          @keyframes sk-bouncedelay2 {
            0%, 25%, 75%, 100% {
              -webkit-transform: scale(0.5);
              transform: scale(0.5);
            } 50% {
                -webkit-transform: scale(0.75);
                transform: scale(0.75);
              }
          }

          @-webkit-keyframes sk-bouncedelay3 {
            0%, 50%, 100% { -webkit-transform: scale(0.5) }
            75% { -webkit-transform: scale(0.75) }
          }

          @keyframes sk-bouncedelay3 {
            0%, 50%, 100% {
              -webkit-transform: scale(0.5);
              transform: scale(0.5);
            } 75%  {
                -webkit-transform: scale(0.75);
                transform: scale(0.75);
              }
          }
        }
      }

      // Form elements
      .form-group__label {
        color: $color-brand--off-white;
      }

      // Error messages
      .form-group__feedback {
        display: none;
        color: $color-brand--dark-blue;
      }

      .form-group__feedback--general {
        display: none;
        padding: $spacing--s;
        background-color: $color-brand--dark-blue;
        border-radius: $border-radius--l;
        @include font-style('body--m');
        font-weight: 700;
        color: $color-brand--off-white;

        & > a {
          font-weight: 700;
          color: $color-brand--off-white;
          text-decoration: underline;
        }
      }

      &--error {
        .form-group__feedback {
          display: block;
        }
      }

      &--error-general {
        .find-job__slide-img {
          @include viewport--l('inversed') {
            display: none;
          }
        }
        .form-group__feedback--general {
          display: block;
        }
      }
    }

    &__counter {
      height: $baseline * 3;
      padding: 0 $spacing--s;
      border-radius: $baseline * 2.5;
      @include font-style('body--m');
      background-color: $color-brand--dark-blue;

      @include viewport--l {
        margin-top: $spacing--m;
      }
    }
  }

  // Slider component
  .slider {
    &__label,
    &__tooltip,
    &__tooltip::before {
      color: $color-brand--dark-blue;
    }

    // Webkit
    &__range::-webkit-slider-runnable-track {
      background: $color-brand--off-white;
    }

    &__range::-webkit-slider-thumb {
      @include range-slider-thumb($range-slider-thumb-color);
      appearance: none;
      box-shadow: webkit-slider-thumb-shadow-dark-blue();
      margin-top: (-$range-slider-thumb-size/2);
      position: relative;
      top: 50%;
      z-index: 20;
      margin-top: -6.5px;
    }

    &__range::-webkit-slider-thumb {
      background: $color-brand--off-white;
    }

    // Firefox
    &__range::-moz-range-track,
    &__range::-moz-range-progress {
      background: $color-brand--dark-blue;
    }

    &__range::-moz-range-progress {
      background: $color-brand--off-white;
    }

    &__range::-moz-range-thumb {
      background: $color-brand--off-white;
    }

    &__range::-ms-fill-lower {
      background: $color-brand--off-white;
    }

    &__range::-ms-fill-upper {
      border: 2px solid rgba(15, 25, 65, 0.3);
      background: $color-brand--dark-blue;
    }

    &__range::-ms-thumb {
      background: $color-brand--off-white;
    }
  }

  // Slide 1
  .modal__main[data-rs-find-job-slide="1"] {

    .modal__content {
      @include viewport--l {
        max-width: 805px;
      }
    }

    &.modal__main--hidden {
      .find-job__slide-img {
        bottom: -100%;
      }
    }

    .find-job__slide-img {
      z-index: -1;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      max-width: 600px;
      transition: bottom $transition-duration;
      transition-delay: $transition-duration--slow;

      @include viewport--xxl {
        max-width: 900px;
      }
    }
  }

  .modal__main[data-rs-find-job-slide="1-1"] {
    .modal__content {
      @include viewport--l {
        max-width: 620px;
      }
    }

    &.modal__main--hidden {
      .find-job__slide-img {
        bottom: -100%;
      }
    }

    .find-job__slide-img {
      z-index: -1;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      max-width: 600px;
      transition: bottom $transition-duration;
      transition-delay: $transition-duration--slow;

      @include viewport--xxl {
        max-width: 900px;
      }
    }
  }

  .modal__main[data-rs-find-job-slide="2"] {
    .modal__content {
      @include viewport--l {
        max-width: 620px;
      }
    }

    .form-group {
      margin-top: $spacing--l;

      @include viewport--l {
        margin-top: $spacing--xl;
      }

      .form-group__input {
        @include viewport--l('inversed') {
          max-width: 385px;
          margin: 0 auto;
        }
      }
    }

    .find-job__btn {
      margin-top: $spacing--m;

      @include viewport--l {
        margin-top: $spacing--l;
      }
    }

    &.modal__main--hidden {
      .find-job__slide-img {
        right: -100%;
      }
    }

    .find-job__slide-img {
      z-index: -1;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      max-width: 600px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      transition: right $transition-duration;
      transition-delay: $transition-duration--slow;

      @include viewport--xxl {
        max-width: 900px;
      }
    }
  }

  .modal__main[data-rs-find-job-slide="3"] {
    .modal__content {
      @include viewport--l {
        max-width: 620px;
      }

      .content-block__title {
        &:last-of-type {
          margin-bottom: 0;

          @include viewport--l{
            margin-bottom: $spacing--l;
          }
        }
      }

      .button--plain {
        padding: 0;

        .icon {
          vertical-align: middle;
          margin-right: $spacing--xs;
        }
      }

      .find-job__btn {
        margin-bottom: $spacing--s;

        @include viewport--l {
          margin-bottom: 0;
        }
      }
    }

    &.modal__main--hidden {
      .find-job__slide-img {
        top: -100%;
      }
    }

    .find-job__slide-img {
      max-width: 225px;
      margin: 0 auto;
      transition: top $transition-duration;
      transition-delay: $transition-duration--slow;

      @include viewport--l {
        z-index: -1;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 600px;
        max-height: none;
        margin: 0;
        transform: translateY(-50%);
      }

      @include viewport--xxl {
        max-width: 900px;
      }
    }
  }

  .modal__main[data-rs-find-job-slide="4"] {
    .modal__content {
      margin-bottom: $baseline * 4;
      @include viewport--l {
        max-width: 620px;
      }

      @include viewport--l {
        margin-bottom: $spacing--l;
      }
    }

    &.modal__main--hidden {
      .find-job__slide-img {
        top: -100%;
      }
    }

    #find_job--availability {
      text-transform: lowercase;
    }

    .form-group__feedback--general {
      margin-top: $spacing--s;
    }

    .find-job__slide-img {
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
      transition: top $transition-duration;
      transition-delay: $transition-duration--slow;

      @include viewport--l {
        z-index: -1;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 600px;
        max-height: none;
        margin: 0;
        transform: translateY(-50%);
      }

      @include viewport--xxl {
        max-width: 900px;
      }
    }
  }

  .modal__main--subspecialism {
    .modal__content {
      @include viewport--l {
        max-width: 620px;
      }

      .find-job__subspecialism {
        margin-bottom: $spacing--s;
        text-transform: lowercase;

        @include viewport--l {
          margin-bottom: $spacing--m;
        }
      }

      .find-job__two-columns {
        display: flex;
      }

      .button {
        width: 100%;
        min-width: 0;
        margin-top: $spacing--s;

        @include viewport--l {
          width: auto;
          min-width: 150px;
          margin-top: $spacing--m;
        }
      }

      .find-job__sub-yes {
        margin-right: $baseline * 1.5;
        @include viewport--l {
          margin-right: $spacing--xs;
        }
      }
    }

    &.modal__main--hidden {
      .find-job__slide-img {
        bottom: -100%;
      }
    }

    .find-job__slide-img {
      z-index: -1;
      position: absolute;
      right: 0;
      bottom: -10%;
      width: 100%;
      max-width: 600px;
      transition: bottom $transition-duration;
      transition-delay: $transition-duration--slow;

      @include viewport--l {
        max-width: 525px;
        bottom: 80px;
      }

      @include viewport--xxl {
        max-width: 750px;
        bottom: 100px;
      }
    }
  }

  .modal__main[data-rs-find-job-slide="salary"] {
    .modal__content {
      @include viewport--l {
        max-width: 620px;
      }

      .form-group {
        display: inline;
      }

      .content-block__title {
        margin-bottom: $spacing--s;
      }

      .form-group__find-job-salary {
        display: block;
        margin-bottom: $spacing--s;

        @include viewport--l {
          width: 185px;
          margin-bottom: 0;
        }

        .form-group__input--icon input[type] {
          padding-left: 40px;
        }

        .form-group__feedback {
          @include viewport--l {
            min-width: 350px;
          }
        }
      }

      .form-group__find-job-salary-type {
        margin-top: $spacing--s;
        @include viewport--l {
          width: 165px;
          margin-top: $spacing--m;
        }
      }

      .form-group__feedback--general {
        margin-top: $spacing--m;
      }

      .form-group__input {
        display: inline;
        width: auto;

        select {
          color: $color-brand--dark-blue;
        }
      }

      .form-group__input--icon {
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        .icon {
          top: $baseline * .4;
          width: 16px;
          height: 16px;

          @include viewport--l {
            top: $baseline * .3;
          }
        }
      }

      .select-arrow {
        top: $baseline * .3;
      }

      .find-job__btn {
        margin-top: $spacing--s;

        @include viewport--l {
          margin-top: $spacing--m;
          flex-shrink: 0;
        }
      }
    }

    &.modal__main--hidden {
      .find-job__slide-img {
        bottom: -100%;
      }
    }

    .find-job__slide-img {
      width: 100%;
      max-width: 600px;
      transition: bottom $transition-duration;
      transition-delay: $transition-duration--slow;

      @include viewport--l {
        z-index: -1;
        position: absolute;
        right: 0;
        max-width: 600px;
        bottom: 50%;
        transform: translateY(50%);
      }

      @include viewport--xxl {
        max-width: 900px;
      }
    }
  }

  .modal__main--no-jobs-found {
    .modal__content {
      @include viewport--l {
        max-width: 640px;
      }

      .button {
        @include viewport--l('inversed') {
          width: 100%;
        }
      }

      .find-job__send-cv-btn {
        margin-top: $spacing--m;
      }

      .find-job__start-again-btn {
        margin-top: $spacing--s;

        @include viewport--l {
          margin-top: $spacing--m;
        }
      }
    }
  }

  .modal__main--jobs-found {
    .modal__content {

      .content-block__title {
        & > span {
          display: inline;
        }
        @include viewport--l {
          @include font-style('title--xxl');
        }
      }

      @include viewport--l {
        max-width: 400px;
      }

      @include viewport--xxl {
        max-width: 620px;
      }
    }

    &.modal__main--hidden {
      .find-job__slide-img {
        right: -100%;
      }
    }

    .find-job__slide-img {
      max-width: 232px;
      margin: 0 auto;
      transition: bottom $transition-duration;
      transition-delay: $transition-duration--slow;

      @include viewport--l {
        z-index: -1;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 600px;
        margin: 0;
        transform: translateY(-50%);
      }

      @include viewport--xxl {
        max-width: 900px;
      }
    }
  }
}

// html.modal-open body {
//   position: fixed !important;
// }
