// general styling on body
html.modal-open {
  &,
  body {
    position: relative;
    overflow: hidden;
  }
}

.modal {
  // TODO: Clear z-index
  // z-index: 8;
  opacity: 0;

  @include viewport--l {
    &__close--group {
      display: flex;
      align-items: center;

      &__text {
        margin-right: $baseline * 1.5;
        @include font-style('body--m');
        color: $color-brand--blue;
      }
    }
  }

  &--active {
    opacity: 1;

    &:not(.modal--navigation) {
      z-index: 7;
    }

    .sticky + & {
      z-index: 12;
    }
  }

  // Override flex 1 to allow add clear button.
  &__header {
    .modal__title {
      flex: unset;
    }
  }

  &:not(.modal--popup):not(.modal--cookie) {
    .modal {
      &__title {
        color: $color-brand--dark-blue;
      }
    }
  }

  &__close {
    margin-left: auto;
  }

  .form-group {
    &--upload {
      max-width: inherit;
    }
  }

  &__label {
    @include font-style('body--m');
    color: $color-brand--blue;

    &--clear {
      margin-left: $baseline * 1.5;
      display: flex;
      align-items: center;
    }
  }

  &__dialog {
    display: flex;
    margin-top: 0;
    
    // RBD-5747.
    @include viewport--l {
      max-height: 600px;
    }

    @include viewport--l('inversed') {
      flex-direction: column;
    }

    @include internet-explorer-10-11 {
      overflow-y: scroll !important;
    }

    & > form {
      overflow-x: hidden;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 0;
    }
  }

  &__main {
    overflow-x: hidden;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 0;

    .tab-content {
      padding-left: $grid-margin--s;
      padding-right: $grid-margin--s;

      @include viewport--m {
        padding-left: $grid-margin--m;
        padding-right: $grid-margin--m;
      }

      @include viewport--l {
        padding-left: $modal-dialog-spacing--l;
        padding-right: $modal-dialog-spacing--l;
      }
    }
  }

  &__footer {
    position: static;
  }

  .tab-navigation-filter--icons {
    margin-bottom: $spacing--m;
    width: calc(100% + #{$spacing--m * 2});
    margin-left: -$spacing--m;
  }
}

// .bluex-modal__position-on-top {
//   z-index: 10;
// }
