// Fix missing overlay.

.modal--popup {
  &.modal--active.modal--corner__override {
    background: $color-alpha--dark-blue-30;
  }
}

@include viewport--l {
  .modal--popup {
    &.modal--corner__override {
      .modal__dialog {
        position: absolute;
        right: 30px;
        bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
