.header--job-detail--alternative {
  .content-block__title {
    &,
    & h1 {
      @include font-style('title--m');
    }
  }

  .header__content {
    padding-bottom: $spacing--m;
  }

  .button-group {
    margin-top: $spacing--m;

    .list-item__save {
      margin-left: $spacing--s;
    }

    .button--full-width {
      max-width: 100%;
    }
  }

  .content-block__list {
    flex-wrap: nowrap;
    margin-top: $spacing--m;

    svg {
      fill: $color-brand--white;
    }
  }

  .button {
    background: $color-brand--blue !important;
    color: $color-brand--white !important;
    margin-left: 0 !important;
    margin-top: 0;

    &:hover {
      background: $color--blue-80 !important;
    }
  }
}

@include viewport--l {
  .header--job-detail--alternative {

    .button {
      width: auto;
    }

    .header__content {
      padding-bottom: $spacing--l;
    }

    .content-block__list {
      margin-top: $spacing--l;

      li {
        margin-top: 0;
      }
    }

    .button-group {
      margin-left: auto;
      margin-top: 0;
      position: relative;
      top: 15px;

      .list-item__save {
        margin-right: $spacing--m;
        margin-left: 0;
      }
    }
  }
}

@include viewport--l('inversed') {
  .header--job-detail--alternative {
    .contact-details__link {
      margin-top: $spacing--xs;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

// STICKY CONTENT.

.header--job-detail--alternative {
  .sticky {
    .content-block__title {

      &,
        & h1 {
          @include font-style('title--xxs', 'title--s');
          margin-bottom: $spacing--xs;
        }
    }

    .header__content {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .content-block__list {
      margin-top: 0;
    }

    .button-group {
      margin-top: 0;
      top: 0;
    }
  }
}

@include viewport--l {
  .header--job-detail--alternative {
    .sticky {
      .content-block__title {
        width: grid-columns(8, 12);
        margin-bottom: -30px;
        position: relative;
        top: -5px;
      }

      .content-block__list {
        position: relative;
        top: 5px;
      }

      .header__content {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

@include viewport--l('inversed') {
  .header--job-detail--alternative {
    .sticky {

      .content-block__title {
        @include text-ellipsis;
        display: block;
      }
      .content-block__list {
        opacity: 0;
        height: 0;
        overflow: hidden;
      }

      .list-item__save {
        top: 5px;
      }

      .button {
        height: $baseline * 4;
        line-height: $baseline * 3.6;
      }

    }
  }
}
