.header--search-alternative {
  z-index: 2;

  .header__content {
    .location-nearby {
      margin-bottom: $spacing--m;

      a {
        color: inherit;
      }
    }

    .search-form {
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: $spacing--m;

      .form-group {
        flex: 0 1 auto;
      }
    }

    .search-form .form-group__label {
      color: inherit;
    }

    .button.button--plain {
      background: none !important;
    }

    .button--filled {
      margin-top: 0;
      margin-left: 0 !important;
      background: $color-brand--blue !important;
      color: $color-brand--white !important;

      &:hover {
        background: $color--blue-80 !important;
      }

      &:focus {
        outline: 0;
      }

      &.hidden--from-l {
        margin-bottom: $spacing--s;
      }
    }
  }
}

.mvp-header--search-alternative {
  z-index: auto;
  
  .header__content {
    padding-top: 0;
    padding-bottom: $spacing--m;

    .search-form {
      padding-top: $spacing--s;
      margin-top: 0;
    }
  }

  .get-job-alerts {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: $spacing--s;
    margin-left: auto;
    padding-left: $baseline * .5;

    .icon {
      top: 4px;
      margin-right: $spacing--xs;
    }

    a {
      color: $color--white;
    }
  }

  .input-highlight-wrapper--active {
    .get-job-alerts {
      z-index: -1;
    }
  }
}

// STICKY CONTENT.
@include viewport--l('inversed') {
  .header--search-alternative {
    .sticky-ghost-box {
      display: none;
    }

    .sticky {
      position: static;
      transform: translateY(0);
    }
  }
}

@include viewport--l {
  .header--search-alternative {

    .header__content .location-nearby {
      margin-bottom: -50px;
    }

    .sticky-ghost-box {
      display: block;
    }

    .sticky {

      .header__content {
        padding-top: $spacing--s;
        padding-bottom: $spacing--s;
      }

      .search-form {
        margin-top: 0;
      }

      .content-block__title,
      .location-nearby,
      .search-form .form-group__label {
        display: none;
      }
    }

    .header__content .search-form {
      .search-form__input {
        flex-basis: 300px;
      }
    }
  }

  .mvp-header--search-alternative {
    .header__content {
      padding-bottom: $spacing--l;

      .search-form {
        padding-top: $spacing--m;
      }
    }

    .get-job-alerts {
      height: 60px;
      padding-left: $spacing--s;
      margin-top: 0;
    }
  }
}
