// selector

.selector {
  &__list {
    overflow-y: visible;
    
    &__scroll {
      overflow-y: scroll;
    }
  }

  @include viewport--l {
    &__dropdown {
      height: $baseline * 7.3;

      .selector__text {
        top: -6px;
      }
    }
  }
}

.header--selector {
  // RBD-8364: English dropdown at French Workplace insights page.
  .header__content {
    z-index: 3;
  }

  .modal__overlay {
    // RBD-7464: Login popover not working on blog/press landing pages - Cover nav popup.
    z-index: 2;

    @include internet-explorer-10-11 {
      // RBD-7230: IE 11: when dropdown is opened, overlay is active on the whole page and user can’t select an.
      z-index: 0;
    }
  }
}