.chart {
  &__table {
    td, th {
      padding: $baseline * 0.5 5px;
      border: 1px solid $color-brand--white;
    }

    th {
      background: #CCC;
    }

    tr:nth-child(even) {
      background: #EFEFEF;
    }
  }

  &__charts {
    &--donut {
      max-width: 325px;

      svg {
        overflow: visible !important; //overule inline styling
      }
    }

    &--column {
      height: 375px !important;
    }

    &--line {
      height: 300px !important;
    }

    .google-visualization-tooltip {
      @include font-style('body--m');
      border: none !important;
      border-radius: $border-radius !important; //overule inline styling
      background-color: $color-brand--off-white !important; //overule inline styling
      path[fill="#ffffff"] {
        fill: $color-brand--off-white;
        stroke: $color-brand--off-white;
      }

      text[fill="#000000"] {
        fill: $color-brand--dark-blue;
      }
    }
  }

  &__legend {
    @include font-style('body--m', 'body--l');
    margin-top: $baseline * -4;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: $spacing--s;
    }

    li {
      margin-right: 30px;

      &::before {
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: $baseline * 1;
        margin-right: 10px;
        width: 10px;
      }
    }
  }
}

@include viewport--l {
  .chart__charts {
    &--donut {
      max-width: 387px;
    }

    &--column {
      height: 500px;
    }

    &--line {
      height: 450px !important; //overule inline styling
    }
  }

  .chart__legend {
    margin-top: -$spacing--m;
  }
}


.bg-brand--off-white {
  .chart {
    .google-visualization-tooltip {
      background-color: $color-brand--white !important; //overule inline styling

      path[fill="#ffffff"] {
        fill: $color-brand--white;
        stroke: $color--grey;
      }
    }
  }
}

.chart {
  text[fill="#444444"] {
    @include font-style('body--s', 'body--m');
    fill: $color--dark-blue-50;
  }

  text[fill="#222222"] {
    @include font-style('body--s', 'body--m');
    fill: $color-brand--dark-blue;
  }

  rect[fill="#cccccc"], rect[fill="#ebebeb"], rect[fill="#333333"] {
    fill: $color--grey;
  }

  [stroke="#f0f0f0"] {
    stroke: $color-brand--dark-blue;
  }

  [fill="#f0f0f0"] {
    fill: $color-brand--dark-blue;
  }

  [data-rs-charts-legend-item="#f0f0f0"]::before {
    background: $color-brand--dark-blue;
  }

  [stroke="#e8e8e8"] {
    stroke: $color-brand--blue;
  }

  [fill="#e8e8e8"] {
    fill: $color-brand--blue;
  }

  [data-rs-charts-legend-item="#e8e8e8"]::before {
    background: $color-brand--blue;
  }

  [stroke="#e0e0e0"] {
    stroke: $color-brand--turquoise;
  }

  [fill="#e0e0e0"] {
    fill: $color-brand--turquoise;
  }

  [data-rs-charts-legend-item="#e0e0e0"]::before {
    background: $color-brand--turquoise;
  }

  [stroke="#dcdcdc"] {
    stroke: $color-brand--yellow;
  }

  [fill="#dcdcdc"] {
    fill: $color-brand--yellow;
  }

  [data-rs-charts-legend-item="#dcdcdc"]::before {
    background: $color-brand--yellow;
  }

  [stroke="#d8d8d8"] {
    stroke: $color-brand--red;
  }

  [fill="#d8d8d8"] {
    fill: $color-brand--red;
  }

  [data-rs-charts-legend-item="#d8d8d8"]::before {
    background: $color-brand--red;
  }
  //65%
  [stroke="#d3d3d3"] {
    stroke: $color-brand--dark-blue-65;
  }

  [fill="#d3d3d3"] {
    fill: $color-brand--dark-blue-65;
  }

  [data-rs-charts-legend-item="#d3d3d3"]::before {
    background: $color-brand--dark-blue-65;
  }

  [stroke="#d0d0d0"] {
    stroke: $color-brand--blue-65;
  }

  [fill="#d0d0d0"] {
    fill: $color-brand--blue-65;
  }

  [data-rs-charts-legend-item="#d0d0d0"]::before {
    background: $color-brand--blue-65;
  }

  [stroke="#c8c8c8"] {
    stroke: $color-brand--turquoise-65;
  }

  [fill="#c8c8c8"] {
    fill: $color-brand--turquoise-65;
  }

  [data-rs-charts-legend-item="#c8c8c8"]::before {
    background: $color-brand--turquoise-65;
  }

  [stroke="#c0c0c0"] {
    stroke: $color-brand--yellow-65;
  }

  [fill="#c0c0c0"] {
    fill: $color-brand--yellow-65;
  }

  [data-rs-charts-legend-item="#c0c0c0"]::before {
    background: $color-brand--yellow-65;
  }

  [stroke="#bebebe"] {
    stroke: $color-brand--red-65;
  }

  [fill="#bebebe"] {
    fill: $color-brand--red-65;
  }

  [data-rs-charts-legend-item="#bebebe"]::before {
    background: $color-brand--red-65;
  }
  //45%
  [stroke="#b8b8b8"] {
    stroke: $color-brand--dark-blue-45;
  }

  [fill="#b8b8b8"] {
    fill: $color-brand--dark-blue-45;
  }

  [data-rs-charts-legend-item="#b8b8b8"]::before {
    background: $color-brand--dark-blue-45;
  }

  [stroke="#b0b0b0"] {
    stroke: $color-brand--blue-45;
  }

  [fill="#b0b0b0"] {
    fill: $color-brand--blue-45;
  }

  [data-rs-charts-legend-item="#b0b0b0"]::before {
    background: $color-brand--blue-45;
  }

  [stroke="#a9a9a9"] {
    stroke: $color-brand--turquoise-45;
  }

  [fill="#a9a9a9"] {
    fill: $color-brand--turquoise-45;
  }

  [data-rs-charts-legend-item="#a9a9a9"]::before {
    background: $color-brand--turquoise-45;
  }

  [stroke="#a8a8a8"] {
    stroke: $color-brand--yellow-45;
  }

  [fill="#a8a8a8"] {
    fill: $color-brand--yellow-45;
  }

  [data-rs-charts-legend-item="#a8a8a8"]::before {
    background: $color-brand--yellow-45;
  }

  [stroke="#a0a0a0"] {
    stroke: $color-brand--red-45;
  }

  [fill="#a0a0a0"] {
    fill: $color-brand--red-45;
  }

  [data-rs-charts-legend-item="#a0a0a0"]::before {
    background: $color-brand--red-45
  }
}
