//backgrounds default

// brand blue
.bg-brand--blue {
  background: $color-brand--blue;
  color: $color-brand--off-white;

  a {
    color: $color-brand--dark-blue;
  }
}

// brand dark blue
.bg-brand--dark-blue {
  background: $color-brand--dark-blue;
  color: $color-brand--off-white;


  a {
    color: $color-brand--blue;
  }
}

// brand turquoise
.bg-brand--turquoise {
  background: $color-brand--turquoise;
  color: $color-brand--off-white;


  a {
    color: $color-brand--dark-blue;
  }
}

// brand red
.bg-brand--red {
  background: $color-brand--red;
  color: $color-brand--off-white;

  a {
    color: $color-brand--dark-blue;
  }
}

// brand yellow
.bg-brand--yellow {
  background: $color-brand--yellow;

  a {
    color: $color-brand--off-white;
  }
}

//brand white
.bg--brand--white {
  background: $color-brand--white;
  color: $color-brand--dark-blue;

  a {
    color: $color-brand--blue;
  }
}

// brand off-white
.bg-brand--off-white {
  background: $color-brand--off-white;
  color: $color-brand--dark-blue;

  a {
    color: $color-brand--blue;
  }
}
