@font-face {
  font-family: 'Graphik';  
  src: url('#{$font-assets-path}font/Graphik-Regular.eot');
  src: url('#{$font-assets-path}font/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$font-assets-path}font/Graphik-Regular.woff2') format('woff2'),
  url('#{$font-assets-path}font/Graphik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}