html {
  @include font-style;
  box-sizing: border-box;
  color: $color-brand--dark-blue;
  font-display: swap;
  font-family: $font-family-graphik;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;

  * {
    &,
    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}
