.text {
  @include font-style;
  color: $color-brand--dark-blue;
  // alternative
  &--alternative {
    color: $color--dark-blue-50;
    // specific color mappings
    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--red & {
      color: $color-alpha--off-white-50;
    }

    .bg-brand--yellow & {
      color: $color-alpha--dark-blue-70;
    }

    .bg-brand--off-white & {
      color: $color--dark-blue-50;
    }
  }

  // center
  &--center {
    text-align: center;
  }

  // emphasis
  // chained to add specificity
  &--emphasis.text--emphasis {
    color: $color-brand--blue;
    // specific color mappings
    .bg-brand--blue &,
    .bg-brand--red &,
    .bg-brand--turquoise &,
    .bg-brand--yellow & {
      color: $color-brand--dark-blue;
    }
  }

  // large
  &--l {
    @include font-style('body--l');
  }

  // small
  &--s {
    @include font-style('body--s');
  }

  // negative
  &--negative {
    color: $color--negative;
  }

  // positive
  &--positive {
    color: $color--positive;
  }

  // colors : text modifiers
  &--blue {
    color: $color-brand--blue;
  }

  &--dark-blue {
    color: $color-brand--dark-blue;
  }

  &--off-white {
    color: $color-brand--off-white;
  }

  &--turquoise {
    color: $color-brand--turquoise;
  }

  &--red {
    color: $color-brand--red;
  }

  &--yellow {
    color: $color-brand--yellow;
  }

  &--white {
    color: $color-brand--off-white;
  }

  // multi color : first line is different from the rest
  // chained to gain specificity over default header colors
  &--duo-color.text--duo-color {

    // specific color mappings
    .bg-brand--blue &,
    .bg-brand--turquoise &,
    .bg-brand--red &,
    .bg-brand--yellow & {
      color: $color-brand--dark-blue;

      &::first-line {
        color: $color-brand--off-white;
      }
    }

    .bg-brand--dark-blue & {
      color: $color-brand--blue;

      &::first-line {
        color: $color-brand--off-white;
      }
    }

    .bg-brand--off-white & {
      color: $color-brand--dark-blue;

      &::first-line {
        color: $color-brand--blue;
      }
    }
  }

  // viewport l specific
  @include viewport--l {
    // dark text
    &--dark-from-l {
      color: $color-brand--dark-blue;
    }
    // light text
    &--light-from-l {
      color: $color-brand--off-white;
    }
  }
}

// paragraphs
p {
  @include font-style;
  margin-bottom: $spacing--m;
}


// text ellipsis
.text-ellipsis {
  @include text-ellipsis($display: block);
}


// generate classes based on type sizes list
// outputs .title--xxl, .title--xl, etc.
@each $name, $font in $type-sizes {
  // generate classes
  .#{$name} {
    @include typeset($font);
  }
  // generate placeholders
  %#{$name} {
    @include typeset($font);
  }
}
