.link-list--featured {
  .link-list__link {
    padding-right: 40px;
  }

  .icon {
    top: $baseline * 1.7;

    &, &:hover {
      color: currentColor;
    }
  }
}

// viewport l
@include viewport--l {
  .link-list--featured {
    .link-list__link {
      padding-right: 50px;
    }

    .icon {
      height: $icon-size--l;
      top: $baseline * 2.4;
      width: $icon-size--l;
    }
  }
}
