.blog-overview--grid .blog-overview {
  @include viewport--l {  
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -$spacing--xl;
      width: 100%;

      &::after {
        content: '';
        display: block;
        width: grid-columns(4, 12);
      }
    }

    &__item {
      flex: 0 0 auto;
      margin-right: 0;
      margin-top: $spacing--xl;
      width: grid-columns(4, 12);
    }

    &__content {
      margin-top: $spacing--s;
    }
  }
}
