.blog-overview--list {
  .blog-overview {
    &__list {
      display: block;
    }

    &__item:not(:first-child) {
      border-top: 1px solid $color--grey;
    }

    &__item + .blog-overview__item {
      margin-top: $spacing--m;
      padding-top: $spacing--m;
    }

    &__article {
      display: flex;
      justify-content: space-between;
    }

    &__media {
      align-self: flex-start;
      width: grid-columns(2,6);


    }

    &__content {
      margin-top: 0;
    }

    &__link {
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin-top: 0;
      @include font-style('body--l', 'title--s');
    }

    &__more-link {
      @include font-style('body--l', 'title--s');
    }
    // viewport s - m
    @include viewport--l('inversed') {
      &__media {
        order: 2;
      }

      &__date {
        margin-bottom: 0;
        margin-top: $spacing--xs;
        order: 2;
      }

      &__content {
        display: flex;
        flex-direction: column;
        width: grid-columns(4,6);
      }
    }
    // viewport l
    @include viewport--l {
      &__media {
        width: grid-columns(2, 9);
      }

      &__content {
        width: grid-columns(7, 9);
      }

      .tags {
        margin-top: $spacing--xs;
      }

      &__more-link {
        display: inline-block;
        margin-top: $spacing--s;
      }
    }
  }
}

// alternative grid spacings in small block content
@include viewport--l {
  .block__content--s .blog-overview--list {
    .blog-overview__media {
      width: grid-columns(2,8);
    }

    .blog-overview__content {
      width: grid-columns(6,8);
    }
  }
}
