.blog-overview--topic {
  .blog-overview__list {
    width: grid-columns(4,6);
  }

  // viewport l
  @include viewport--l {
    .block__description p {
      @include font-style('body--l');
      width: grid-columns(8, 12);
    }

    .blog-overview {
      &__list {
        width: 100%;
        .slick-list > .slick-track {
          margin-left: 0;
          margin-right:0;
        }
      }

      &__list > .blog-overview__item {
        width: calc(#{grid-columns(4,12)} + (2 * #{ $article-spacing--l}));
      }
    }
  }
  // viewport xxl
  @include viewport--xxl {
    .blog-overview__list > .blog-overview__item {
      width: calc(#{grid-columns(4,12)} + (2 * #{$article-spacing--xxl}));
    }
  }
}
