@mixin bluex-checkbox {
  input {
    opacity: 0;
    position: absolute;
  }

  input + span {
    position: relative;
    margin-left: 34px;
    display: block;

    &::before, 
    &::after {
      cursor: pointer;
    }

    // Checkbox box.
    &::before {
      @include center-all;
      background: $color-brand--white;
      border: 2px solid $color--grey;
      border-radius: $border-radius--xs;
      cursor: pointer;
      position: relative;
      transition: border-color $transition-duration--fast;
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 3px;
      left: -34px;
      box-sizing: content-box;
    }

    // Checkmark.
    &::after {
      content: none;
      position: absolute;
      top: 8px;
      left: -27px;
      transform: rotate(45deg);
      height: 15px;
      width: 9px;
      border-bottom: 2.8px solid $color--white;
      border-right: 2.8px solid $color--white;
    }

    &:hover {
      &::before {
        border-color: $color-brand--blue;
      }
    }
  }
  
  input:checked + span {
    &::before {
      border-color: $color-brand--blue;
      background: $color-brand--blue;
    }

    &::after {
      content: "";
    }
  }
}