@mixin bluex-dropdown-arrow {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 20px;
    transform: rotate(45deg);
    height: 13px;
    width: 12px;
    border-bottom: 2.8px solid $color-brand--blue;
    border-right: 2.8px solid $color-brand--blue;
  }
}
