.carousel {
  &:not(.slick-initialized) {
    .banner__slide:not(:first-child) {
      display: none; // hide all except first item until initialization complete
    }
  }
}

.carousel__dots,
.carousel {
  .slick-dots {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    line-height: 0;
    position: absolute;
    width: 100%;

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 0;
      height: $spacing--m;
      margin: 0 10px;
      outline: none;
      padding: 0;
      text-indent: -9999px;
      width: auto;
    }

    button::before {
      border-radius: 50%;
      border: 2px solid $color-alpha--dark-blue-70;
      content: '';
      display: block;
      height: $baseline * 1.4;
      position: relative; // fix IE 10/11 text jump in active button
      transition: border $transition-duration--fast;
      width: 14px;
    }

    button:hover::before {
      border-color: $color-brand--dark-blue;
    }
  }

  .slick-active button {
    cursor: auto;

    &::before {
      background: $color-brand--dark-blue;
      transition: background-color 0.4s;
    }
  }
}

// background specific mappings
.carousel.bg {
  &-brand--blue,
  &-brand--dark-blue,
  &-brand--turquoise,
  &-brand--red {
    .slick-dots button::before {
      border-color: $color-alpha--off-white-50;
    }

    .slick-dots button:hover::before {
      border-color: $color-brand--off-white;
    }

    .slick-dots .slick-active button::before {
      background: $color-brand--white;
    }
  }
}

// viewport s
@include viewport--m('inversed') {
  .carousel--on-s {
    // slick slider
    .slick {
      &-list {
        margin-left: -$carousel-item-spacing--s;
        margin-right: -$carousel-item-spacing--s;
      }
      &-slide {
        padding: 0 $carousel-item-spacing--s;
      }
    }
  }
}

// viewport m
@include viewport--range($breakpoint-viewport--m, $breakpoint-viewport--l) {
  .carousel--on-m {
    // slick slider
    .slick {
      &-list {
        margin-left: -$carousel-item-spacing--m;
        margin-right: -$carousel-item-spacing--m;
      }
      &-slide {
        padding: 0 $carousel-item-spacing--m;
      }
    }
  }
}
