.carousel--photo {
  .banner__slide,
  .slick-slide {
    position: relative;
  }
}

.carousel__dots--photo {
  height: $baseline * 5;
  position: absolute;
  width: 100%;

  .slick-dots {
    bottom: $spacing--xs !important; // overwrite inline bottom style
    // viewport l
    @include viewport--l {
      bottom: $spacing--m !important; // overwrite inline bottom style
    }

    button::before {
      border-color: $color-alpha--off-white-50;
    }

    button:hover::before {
      border-color: $color-brand--off-white;
    }

    .slick-active button::before {
      background: $color-brand--off-white;
    }
  }
}

// viewport l
@include viewport--l {
  .carousel--photo {
    position: relative;

    .slick-track {
      display: flex !important; // overwrite inline display style
    }

    .slick-slide {
      height: auto !important; // overwrite inline height style
      > div {
        height: 100%;
      }
    }

    .banner__slide,
    .banner__wrapper {
      height: 100%;
    }
  }
  // reposition dots to bottom of slider
  .carousel__dots--photo {
    bottom: 0;
    top: auto !important; // overwrite inline top style
  }
}
