.podcast-item {
  padding: $spacing--l / 2;
  background: $color-brand--off-white;
  display: flex;
  flex-direction: column;
  position: relative;

  &__image {
    order: -1;
    max-width: grid-columns(3, 6);
  }

  &__subtitle,
  &__date,
  &__description,
  .link-tags__label,
  .link-tags__item {
    @include font-style('body--m');
  }

  &__date {
    margin-top: $spacing--xs;
  }
  
  &__title {
    @include font-style('title--xs');
    margin-top: $spacing--xs;
  }

  &__audio,
  &__description,
  .link-tags {
    margin-top: $spacing--s;
  }

  .link-tags__item {
    &:not(:first-child) {
      margin-left: $spacing--xs;
    }

    &::after {
      content: none;
    }
  }

  &__audio {
    line-height: 0;
    
    audio {
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-wrap: wrap;

    .podcast-item__description-visible[aria-expanded="true"] {
      width: 100%;
    }
    
    .podcast-item__description-visible[aria-expanded="false"],
    [data-rs-collapsible-content="expanded"] {
      margin-right: 3px;
    }

    .collapsible__content {
      width: 100%;

      &[data-rs-collapsible-content="expanded"] {
        width: auto;
      }
    }

    .collapsible__trigger--expanded {
      order: 3;
    }
  }

  .bg-brand--off-white & {
    background: $color--white;
  }
}

@include viewport--m {
  .podcast-item {
    padding: $spacing--l / 2 $spacing--l;
  }
}

@include viewport--l {
  .podcast-item {
    padding: $spacing--m $spacing--l;

    &__title {
      @include font-style('title--s');
    }

    &__subtitle {
      @include font-style('body--l');
    }

    &__image {
      max-width: 150px;
      position: absolute;
      top: $spacing--m + 30px;
      right: $spacing--l;
    }

    &__info {
      width: grid-columns(9, 12);
    }

    & + & {
      margin-top: $spacing--s;
    }
  }
}

@include viewport--l("inversed") {
  .podcast-item {
    border-radius: 0;
  }
}