@keyframes file-upload {
  0% {
    background: $color-brand--white;
  }

  50% {
    background: $color--blue-10;
  }

  100% {
    background: $color-brand--white;
  }
}

@keyframes file-upload-success-to-complete {
  0% {
    color: $color--positive;
  }

  100% {
    color: $color-brand--blue;
  }
}
