@keyframes zoom--first-dot {
    0%,
    50%,
    100% {
      transform: scale(0.5);
    }
    25% {
      transform: scale(0.75);
    }
  }
  
  @keyframes zoom--second-dot {
    0%,
    25%,
    75%,
    100% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(0.75);
    }
  }
  
  @keyframes zoom--third-dot {
    0%,
    50%,
    100% {
      transform: scale(0.5);
    }
    75% {
      transform: scale(0.75);
    }
  }
  