// fade in toast animation
@keyframes fade-in-toast {
  from {
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }

  to {
    bottom: $toast-spacing-bottom;
    opacity: 1;
    visibility: visible;
  }
}

// fade in toast animation : large
@keyframes fade-in-toast--l {
  from {
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }

  to {
    bottom: $toast-spacing-bottom--l;
    opacity: 1;
    visibility: visible;
  }
}
