// spacing
$card-spacing: $spacing--s;
$card-spacing--l: $spacing--m;

// sizes
$card-more-image-width: $baseline * 20;
$card-brand-logo-max-width: $baseline * 10;
$card-brand-logo-height: $baseline * 4;

