$color-brand--blue: #2175D9;
$color-brand--dark-blue: #0F1941;
$color-brand--turquoise: #6BA5B4;
$color-brand--off-white: #F7F5F0;
$color-brand--red: #e74536;
$color-brand--yellow: #FFB511;
$color-brand--white: #fff;

// user interface colors
//
// additional colors, such as surface, background and error colors, typically don't
// represent the brand but can be applied sparingly to accent select parts of your UI.
//

$color--blue-10: #E8F1FB;
$color--blue-80: #4D91E1;
$color--blue-130: #175197;

$color--dark-blue-50: #878CA0;
$color--dark-blue-80: #3C4464;
$color--dark-blue-180: #03050D;

$color--grey: #D7D7D7;
$color--grey-10: #F7F7F7;

$color--white: #FFF;

$color--off-white-80: #F9F7F3;
$color--off-white-110: #DEDCD8;

$color--negative: #F24747;
$color--negative-5: #FEF6F6;

$color--positive: #31AA74;
$color--positive-5: #F4FBF8;

// user interface opacities
//
// opacity colors are only used on modal backgrounds. HEX colors would not be
// used due to the colors' alpha layers.
//

$color-alpha--blue-10: rgba(33, 117, 217, .1);
$color-alpha--blue-30: rgba(33, 117, 217, .3);

$color-alpha--dark-blue-10: rgba(15, 25, 65, .1);
$color-alpha--dark-blue-30: rgba(15, 25, 65, .3);
$color-alpha--dark-blue-70: rgba(15, 25, 65, .7);
$color-alpha--dark-blue-80: rgba(15, 25, 65, .8);

$color-alpha--off-white-30: rgba(247, 245, 240, .3);
$color-alpha--off-white-50: rgba(247, 245, 240, .5);

// set color values
$color--disabled: $color--grey;
$color--text: $color-brand--dark-blue;


// degree brand colors
// used in the charts as extra color scheme

$color-brand--blue-65: #7aace8;
$color-brand--blue-45: #a6c8f0;
$color-brand--dark-blue-65: #636983;
$color-brand--dark-blue-45: #999aa8;
$color-brand--turquoise-65: #a6c9d2;
$color-brand--turquoise-45: #c4dbe1;
$color-brand--red-65: #f18f86;
$color-brand--red-45: #f5b5af;
$color-brand--yellow-65: #ffd370;
$color-brand--yellow-45: #ffe1a0;

// notice colors
$color-notice--warning: #fff2f2;
