// input width
$datepicker-input-width: 220px;

// calendar
$datepicker-calendar-width: 285px;
$datepicker-calendar-width--m: 360px;
$datepicker-header-height: 75px;
$datepicker-hidden-month-height: 275px;

// arrow buttons
$datepicker-calendar-arrow-button-height: 50px;
$datepicker-calendar-arrow-button-width: 65px;

// calendar columns
$datepicker-column-width: 32px;
$datepicker-column-width--m: 40px;
