// grid units
$grid-column-units: 3;
$grid-gutter-units: 2;

// grid totals
$grid-column-total--s: 6;
$grid-column-total--l: 12;

// units total
$grid-units-total--s: ($grid-column-total--s * $grid-column-units) + (($grid-column-total--s - 1) * $grid-gutter-units);
$grid-units-total--l: ($grid-column-total--l * $grid-column-units) + (($grid-column-total--l - 1) * $grid-gutter-units);
