// modal size & placement
$modal-header-height: $baseline * 6;
$modal-dialog-width: 450px;
$modal-dialog-width--popup: 400px;
$modal-dialog-width--cookie: 550px;
$modal-dialog-initial-offset: 10%;

//modal spacing
$modal-dialog-max-top-offset: $spacing--xl;
$modal-cookie-spacing: $baseline * 18 ;
$modal-dialog-spacing: $spacing--s;
$modal-dialog-spacing--l: 30px;
$modal-dialog-spacing--xl: 50px;
