$rating-dynamic-width: 375px;

$rating-readonly-width-l: 290px; //five stars
$rating-readonly-width-m: 110px; //four stars
$rating-readonly-width-s: 80px; // three stars

$rating-readonly-icon-wrapper-width: 140px;


