// baseline size, used for every calculation
$baseline: 10px;

// border radius
$border-radius: 4px;
$border-radius--s: 3px;
$border-radius--xs: 2px;
$border-radius--m: 5px;
$border-radius--m-l: 6px;
$border-radius--l : 8px;
$border-radius--max: 30px;

// buttons
$max-button-size: 300px;

// icons
$icon-size: $baseline * 2;
$icon-size--xs: $baseline * 0.8;
$icon-size--s: $baseline * 1.6;
$icon-size--l: $baseline * 3;
$icon-size--xl: $baseline * 4;
$icon-size--xxl: $baseline * 6;
$icon-size--xxxl: $baseline * 12;

// images
$banner-max-image-height--s: 300px;
$banner-max-image-width--s: 500px;

// popover
$popover-width: 385px;

// navigation
$navigation-height: $baseline * 7;
$navigation-height--l: $baseline * 12.5;

// select menu
$select-menu-height: $baseline * 16.5;
$select-menu-height--l: $baseline * 24;

// wrapper width
$wrapper-width: 1440px;


// data table
$data-table-cell--s: 80px;
$data-table-cell--m: 130px;
$data-table-cell--l: 180px;