// general
$range-slider-max-width: 385; // value is used in mixin for webkit fallback
$range-slider-max-width---px: $range-slider-max-width + px;

// tooltip
$range-slider-tooltip-size: 12px;

// track
$range-slider-track-color: $color--grey;
$range-slider-track-height: 2px;

// thumb
$range-slider-thumb-color: $color-brand--blue;
$range-slider-thumb-size: 13px;
