// idle
$text-field-spacing: 15px 19px 18px;
$text-field-spacing--from-l: 13px 19px 15px;

// active / focus
$text-field-spacing--active: 14px 18px 17px;
$text-field-spacing--active-from-l: 12px 18px 14px;
