.blog-overview {
  &__title {
    .button--icon-only {
      position: relative;
      top: 2px;
      height: 20px;
      margin-left: 5px;
    }
  }

  &__media {
    @include internet-explorer-10-11 {
      border-radius: $border-radius--l;

      img {
        height: auto;
      }
    }
    &--border-radius {
      border-radius: $border-radius--l;
    }
    &--s {

      img {
        max-height: 70%;
        margin: auto 0;

        @include internet-explorer-10-11 {
          height: 100%;
        }
      }
    }
  }

  // Override .blog-overview .icon (play button).
  .select-arrow.icon {
    top: 22px;
  }

  @include viewport--l {
    &__media:hover + .blog-overview__content,
    &__link:hover {
      svg {
        fill: $color-brand--blue;
      }
    }
  }
}
