// viewport s - m
@include viewport--l('inversed') {
  .video--boxed-large {
    padding-top: $spacing--l;
  }
}

// viewport l
@include viewport--l {
  .video--boxed-large {
    padding-bottom: $spacing--xxl;
    padding-top: $spacing--xxl;

    .banner {
      &__wrapper {
        position: relative;
      }

      &__content {
        padding-bottom: $spacing--xl;
        padding-top: $spacing--xl;
      }
    }
  }
}
