
.notice-in-page {
  border-radius: $border-radius;
  display: flex;
  max-width: $baseline * 49;
  padding: $spacing--s;

  .icon {
    margin-right: $baseline * 1.5;
    min-width: $baseline * 2;
    padding-top: $baseline * 0.2;
  }

  &__body-copy {
    @include font-style('body--m');
  }

  &--negative {
    background: $color--negative-5;
    border: 1px solid $color--negative;

    .icon {
      color: $color--negative;
    }
  }

  &--positive {
    background: $color--positive-5;
    border: 1px solid $color--positive;

    .icon {
      color: $color--positive;
    }
  }

  &--informative {
    background: $color--blue-10;
    border: 1px solid $color-brand--blue;

    .icon {
      color: $color-brand--blue;
    }
  }
}










