.list--checks {
  list-style: none;

  li {
    padding-left: 40px;

    &::before {
      @include svg-base64('check', $color-brand--blue);
      margin-left: -40px;
      margin-top: $baseline * 0.2;
      position: absolute;
    }
  }
}
