.icon-list {
  align-items: center;
  display: flex;
  line-height: 0;

  &__item + &__item {
    margin-left: 15px;

    @include viewport--l {
      margin-left: 20px;
    }
  }

  &__link {
    height: $icon-size;
    width: $icon-size;
  } 
}
