.list--links-icon-text {
  overflow: hidden;

  li {
    line-height: 0;
  }

  li + li {
    margin-top: $spacing--xs;
  }

  a {
    padding-left: 35px;
    position: relative;
  }

  .icon {
    left: 0;
    top: $spacing--xxs;
  }
}

// viewport l
@include viewport--l {
  .list--links-icon-text .icon {
    top: $baseline * 0.7;
  }
}
