select {
  &:active,
  &:focus {
    @include transition(border-color, $transition-duration--fast);
    border: 2px solid $color-brand--blue;
    outline: none;
    padding-left: 18px;
  }

  &::-ms-clear {
    display: none;
  }

  &.untouched {
    color: $color--dark-blue-50;
  }
  // add specificity to overwrite default padding applied to form inputs
  .form-group__input & {
    &, &:active, &:focus {
      padding-right: 50px;
    }
  }
  //IE fix
  &[disabled] {
    background: $color--grey-10;
    color: $color--dark-blue-50;
    pointer-events: none;
  }
}

.select-arrow.icon {
  color: $color-brand--blue;
  pointer-events: none;
  right: 20px;
  top: $baseline * 2.2;

  select:disabled + & {
    color: $color--dark-blue-50;
  }
}

// prevent Internet Explorer 10/11 to display double arrows
@include internet-explorer-10-11 {
  .form-group__input select {
    padding-right: 25px;
  }

  .select-arrow {
    display: none;
  }
}
