#{text-fields()} {
  @include font-style('body--m', 'body--l');
  appearance: none;
  background: $color--white;
  border: solid 1px $color--grey;
  border-radius: $border-radius;
  box-sizing: border-box;
  box-shadow: none;
  color: $color-brand--dark-blue;
  cursor: initial;
  font-family: $font-family-graphik;
  margin: 0;
  min-height: 60px; // Internet Explorer fix
  padding: $text-field-spacing;
  text-overflow: ellipsis;
  width: 100%;

  &::placeholder {
    color: $color--dark-blue-50;
  }
  //IE fix
  &:-ms-input-placeholder {
    color: $color--dark-blue-50;
  }

  &::-ms-clear {
    display: none;
  }

  &:active,
  &:focus {
    @include transition(border-color, $transition-duration--fast);
    @include form-field--border-interaction-color;
    border-style: solid;
    border-width: 2px;
    outline: none;
    padding: $text-field-spacing--active;
  }
  // IE 11 Fix has same styling
  &:read-only:not(select):not(.flatpickr), /* excludes dropdown */
  &[disabled] {
    &, &:active, &:focus {
      background: $color--grey-10;
      border: 1px solid $color--grey;
      color: $color--dark-blue-50;
      opacity: 1; /* required on iOS */
      outline: none;
      pointer-events: none;
    }
  }
  //IE fix
  &[disabled],
  &[readonly]:not(.flatpickr) {
    background: $color--grey-10;
    color: $color--dark-blue-50;
    pointer-events: none;
  }

  // viewport l
  @include viewport--l {
    padding: $text-field-spacing--from-l;

    &:active, &:focus {
      padding: $text-field-spacing--active-from-l;
    }
  }
}

//parent targeting is not possible with the prefix
.form-group--error {
  #{text-fields()} {
    & {
      @include form-field--invalid;
    }
  }
}
