.selection-control--radio-button {
  .selection-control__control {
    border-radius: 50%;

    &::after {
      content: '';
      display: block;
      transform: scale(0);
    }
  }

  input:checked + .selection-control__control {
    background: $color-brand--white;
    position: relative;

    &::after {
      @include form-field--checkmark-color;
      border-radius: 50%;
      height: 12px;
      left: 4px;
      opacity: 1;
      position: absolute;
      top: $baseline * 0.4;
      transform: scale(1);
      transition: transform $transition-duration--fast ease;
      width: 12px;
    }
  }

  // small correction for smaller font-size radio controls
  @include viewport--l('inversed') {
    .selection-control__input {
      top: $baseline * 0.1;
    }
  }
}

// disabled
.selection-control--radio-button.selection-control--disabled {
  input:checked + .selection-control__control {
    background: $color--grey-10;
    border-color: $color--grey;

    &::after {
      background: $color--grey;
    }
  }
}
