textarea {
  @include transition(max-height, $transition-duration--fast);
  min-height: 110px;
  overflow: hidden;
  resize: none;

  &.fixed-size {
    min-height: 200px;
    overflow: auto;
  }
}

@include viewport--l {
  textarea {
    min-height: 150px;

    &.fixed-size {
      min-height: 250px;

    }
  }
}
