.download {
  &__text {
    @include font-style('title--xs', 'title--s');
    margin: 0;
  }

  .button {
    margin-top: $spacing--s;
    max-width: 100%;
  }

  // viewport m
  @include viewport--l('inversed') {
    margin-left: -$grid-margin--m;
    margin-right: -$grid-margin--m;
    padding: $spacing--m $grid-margin--m;
  }

  // viewport s
  @include viewport--m('inversed') {
    margin-left: -$grid-margin--s;
    margin-right: -$grid-margin--s;
    padding: $spacing--m $grid-margin--s;
  }

  // viewport l
  @include viewport--l {
    border-radius: $border-radius--l;
    padding: $spacing--m 30px;

    .button {
      margin-top: $spacing--m;
    }
  }
}
