.blog-meta {
  padding-top: $spacing--m;

  &__bottom {
    display: flex;
    margin-top: $spacing--s;
    padding-top: $spacing--s;
  }

  .social__list {
    margin-left: auto;
  }
}

// viewport s - m
@include viewport--l('inversed') {
  .blog-meta {
    .social__item + .social__item {
      margin-left: 15px;
    }

    .icon {
      height: $icon-size;
      width: $icon-size;
    }
  }
}
