$size: 5px;
// TODO: Remove after orbit Update - need to support text also.
.preloader--dots {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  height: 20px;
  align-items: center;

  span, &:before, &:after {
    border-radius: 50%;
    width: $size * 3.6;
    height: $size * 3.6;
    background: white;
    display: block;
    animation-name: zoom--second-dot;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  &::before, &:after {
    position: absolute;
    top: 1px;
  }

  &::before {
    content: '';
    left: #{$size * 4};
    animation-name: zoom--third-dot;
  }

  &::after {
    content: '';
    right: #{$size * 4};
    animation-name: zoom--first-dot;
  }  
}

.preloader--grey {
  span, &:before, &:after {
    background: $color--grey;
  }
}


@keyframes zoom--first-dot {
  0%,
  50%,
  100% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(0.75);
  }
}

@keyframes zoom--second-dot {
  0%,
  25%,
  75%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.75);
  }
}

@keyframes zoom--third-dot {
  0%,
  50%,
  100% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.75);
  }
}
