// TODO: Depricated since OU 3.4.0. To be removed soon.

// .section-separator {
//   padding: $spacing--s 0;
//   text-align: center;
//   color: $color--dark-blue-50;
//   position: relative;

//   &--border {
//     &:before {
//       content: '';
//       width: 100%;
//       height: 1px;
//       background: $color--grey ;
//       position: absolute;
//       transform: translate(-50%, -50%);
//       top:calc(50% + 1px);
//       left: 50%;
//       z-index: 1;
//     }

//     span {
//       background: $color-brand--off-white;
//       padding: 0 10px;
//       position: relative;
//       z-index: 2;
//     }
//   }

//   &--white {
//     span {
//       background: $color--white;
//       color: $color--dark-blue-50;
//     }
//   }
// }

@include viewport--m('inversed') {
  .block__content--full-on-m {
    .section-separator {
      margin-left: $grid-margin--s;
      margin-right: $grid-margin--s;
    }
  }
}
