.body-copy {
  overflow-anchor: none;
  h1, h2, h3, h4, h5, h6 {
    color: $color-brand--blue;
  }

  .title--s {
    margin-bottom: $spacing--s;

    & + ol,
    & + ul {
      margin-top: $spacing--m;
    }
  }

  .title--xxs {
    margin-bottom: $spacing--xs;

    & + ol,
    & + ul {
      margin-top: $spacing--s;
    }
  }
  // lists
  ol,
  ul {
    margin-bottom: $spacing--m;

    & + ol,
    & + ul {
      margin-top: $spacing--l;
    }
  }

  li {
    padding-left: $list-item-style-size;

    &::before {
      color: $color-brand--blue;
      display: inline-block;
      margin-left: -($list-item-style-size);
      min-width: 35px;
    }
  }

  li + li {
    margin-top: $spacing--xs;
  }
  // unordered list
  ul:not(.list--checks) li::before {
    content: '\2022';
    font-size: 1.2em;
    padding-left: 5px;
  }
  // ordered list
  ol {
    counter-reset: li;
    list-style: none;

    li {
      counter-increment: li
    }

    li::before {
      content: counter(li)'.'' ';
      position: absolute;
    }
  }
  // remove spacing for last item
  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}

// colored headers & lists

// dark blue
.color-preset--dark-blue,
.header.bg-brand--dark-blue ~ .block .color-preset--header {
  h1, h2, h3, h4, h5, h6 {
    color: $color-brand--dark-blue;
  }

  li::before {
    color: $color-brand--dark-blue;
  }

  .list--checks li::before {
    @include svg-base64('check', $color-brand--dark-blue);
  }
}

// red
.color-preset--red,
.header.bg-brand--red ~ .block .color-preset--header {
  h1, h2, h3, h4, h5, h6 {
    color: $color-brand--red;
  }

  li::before {
    color: $color-brand--red;
  }

  .list--checks li::before {
    @include svg-base64('check', $color-brand--red);
  }
}

// turquoise
.color-preset--turquoise,
.header.bg-brand--turquoise ~ .block .color-preset--header {
  h1, h2, h3, h4, h5, h6 {
    color: $color-brand--turquoise;
  }

  li::before {
    color: $color-brand--turquoise;
  }

  .list--checks li::before {
    @include svg-base64('check', $color-brand--turquoise);
  }
}

// yellow
.color-preset--yellow,
.header.bg-brand--yellow ~ .block .color-preset--header {
  h1, h2, h3, h4, h5, h6 {
    color: $color-brand--yellow;
  }

  li::before {
    color: $color-brand--yellow;
  }

  .list--checks li::before {
    @include svg-base64('check', $color-brand--yellow);
  }
}

// overwrite list item colors for selected backgrounds
.bg-brand--blue,
.bg-brand--dark-blue,
.bg-brand--red,
.bg-brand--turquoise,
.bg-brand--yellow {
  h1, h2, h3, h4, h5, h6,
  li::before {
    color: currentColor;
  }

  .list--checks li::before {
    @include svg-base64('check', $color-brand--off-white);
  }
}

// overwrite list item colors for selected background - yellow specific
.bg-brand--yellow {
  .list--checks li::before {
    @include svg-base64('check', $color-brand--dark-blue);
  }
}
