.closable {
  overflow: hidden;
  transition: max-height $transition-duration--fast $transition-duration--fast, border $transition-duration--fast $transition-duration--fast;

  &--closed {
    [data-rs-closable-fadeout] {
      opacity: 0;
      transition: opacity $transition-duration--fast;
    }
  }
}
