.content-block {
  @include word-break;
  z-index: 1;

  &__eyebrow {
    @include font-style('title--xs', 'title--s');
    margin-bottom: 0;
  }

  &__title {
    & > span {
      display: block;
    }

    .content-block__eyebrow + & {
      margin-top: $spacing--xs;
    }

    em {
      color: $color-brand--blue;
      font-style: normal;
    }
  }

  &__description {
    margin-top: $spacing--s;

    &,
    & p:last-child {
      margin-bottom: 0;
    }
  }

  &__list {
    margin-top: $spacing--s;

    li {
      display: flex; // fix for issue with line-height on li & a
      margin-top: $baseline * 0.5;
    }

    a {
      @include font-style;
      @include text-ellipsis;
    }
  }

  .button {
    margin-top: $spacing--m;
  }

  &__date-socials {
    margin-top: $spacing--s;
  }

  &__date,
  .social__share-text,
  .social__list {
    margin-top: $spacing--xs;
  }

  &__split-text {
    margin-top: $spacing--s;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__form {
    margin-top: $spacing--m;
  }
}

// brand specific color styling
.bg-brand--yellow .content-block {
  &__title,
  &__description,
  &__eyebrow {
    color: $color-brand--dark-blue;
  }

  a:not(.button) {
    color: $color-alpha--dark-blue-70;
  }
}

// viewport s - m
@include viewport--l('inversed') {
  .content-block {
    width: 100%;
  }
}

// viewport l
@include viewport--l {
  .content-block {
    &__title-bottom {
      text-align: right;
    }

    &__title {
      & > span + span {
        margin-top: $spacing--xs;
      }
    }
    // list row layout
    &__list--row {
      display: flex;
      flex-wrap: wrap;

      li:not(:last-child) {
        margin-right: 30px;
      }
    }

    &__list:not(.content-block__list--row) + .button {
      margin-top: $spacing--l;
    }

    &__date-socials {
      display: flex;
      flex-wrap: wrap;
      margin-top: $baseline * 4;
    }

    &__date:not(:only-child) {
      margin-right: 50px; // only add margin if there are siblings
    }
    // full width
    &--full-width {
      width: 100%;
    }
    // split
    &__split {
      align-items: flex-end;
      display: flex;

      &-text {
        width: grid-columns(9, 12);
      }
      // small
      &-text--s {
        margin-top: $spacing--m;
        width: grid-columns(5, 12);
      }

      &-text--s + .button {
        margin-top: $spacing--l;
      }

      .button {
        margin-left: auto;
        max-width: grid-columns(3, 12);
      }
    }
    // inherit from color set for viewport l
    &.text--dark-from-l,
    &.text--light-from-l {
      .content-block__eyebrow,
      .content-block__title,
      .content-block__description {
        color: currentColor;
      }
    }
    // dark text
    &.text--dark-from-l .button.button {
      // chained to add specificity
      @include button--dark-blue;
    }
    // light text
    &.text--light-from-l .button.button {
      // chained to add specificity
      @include button--off-white;
    }
  }
}
