.contact-details {
  // item
  &__item {
    align-items: center;
    display: flex;

    & + & {
      margin-top: $spacing--xxs;
    }
  }
  // link
  &__link {
    display: flex;
    min-width: 0;

    .icon {
      flex-shrink: 0;
      margin-right: 15px;
      top: $spacing--xxs;      
    }

    .icon + span {
      @include text-ellipsis(100%, initial);
    }
  }
}
