.element-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: -$spacing--xs;

    .badge, .tag {
        margin-right: $spacing--xs;
        margin-top: $spacing--xs;

        &:last-child {
            margin-right: 0;
        }
    }
}