.language__dropdown {
  align-items: center;
  display: flex;
  margin-left: auto;
  position: relative;
  width: 60px;

  & .icon--language {
    left: 0;

    & svg {
      height: $spacing--s;
      width: 20px;

      .bg-brand--dark-blue &,
      .bg-brand--blue &,
      .bg-brand--turquoise &,
      .bg-brand--red & {
        color: $color-alpha--off-white-50;

        @include viewport--l {
          color: currentColor; 
        }
      }

      .bg-brand--yellow &,
      .bg-brand--off-white &,
      .bg-brand--white & {
        color: $color-alpha--dark-blue-30;

        @include viewport--l {
          color: currentColor; 
        }
      }
    }
  }

    & select,
    & select:active,
    & select:focus {
      padding: 0 25px;
    }

  select {
    @include font-style('body--m');
    background: transparent;
    border: none;
    color: currentColor;
    cursor: pointer;
    min-height: unset;
    text-overflow: initial;
    width: auto;
    z-index: 1;

    //hide native arrow for dropdown so only styled chevron is visible
    &::-ms-expand {
      display: none;
    }

    option {
      color: $color-brand--dark-blue;
    }
  }

  .select--status {
    height: $baseline * 0.8;
    width: 8px;
  }
}

