.link-tags {
  color: $color-brand--blue;

  &__label {
    color: $color-brand--dark-blue;
  }

  &__list,
  &__item {
    display: inline;
  }

  &__item:not(:last-child)::after {
    content: ',';
    margin-left: -4px; // correct spacing
  }
}
