.location-details {
  align-items: flex-start;
  display: flex;

  &__gps {
    flex-shrink: 0;
    margin: ($baseline * 0.7) 15px 0 0;
  }

  &__text:not(:only-child) {
    margin-right: 20px;
  }

  &__change {
    color: $color-brand--blue;
    cursor: pointer;
  }
}
