.pagination {
  // add spacing and border if pagination is in content block
  .block__content & {
    border-top: 1px solid $color--grey;
    margin-top: $spacing--m;
    padding-top: $spacing--m;

    @include viewport--l {
      margin-top: $spacing--l;
      padding-top: $spacing--l;
    }
  }
  // list
  &__list {
    @include font-style('title--xs');
    display: flex;
    margin-left: -10px; // compensate link/text spacing & align with grid
  }
  // link
  &__item {
    > a,
    > span {
      display: block;
      min-width: 30px;
      padding: 0 10px;
      text-align: center;
    }
  }
  // control
  &__control .icon {
    color: $color-brand--dark-blue;
    top: $baseline * 0.3;
    // specific background mapping
    .bg-brand--dark-blue & {
      color: $color-brand--blue;
    }

    .bg-brand--turquoise &,
    .bg-brand--yellow & {
      color: $color-brand--off-white;
    }

    .bg-brand--red & {
      color: $color-brand--dark-blue;
    }
  }
  // specific turquoise background mapping
  .bg-brand--turquoise & {
    color: $color-brand--dark-blue;

    &__item > a {
      color: $color-brand--off-white;
    }
  }
}

// viewport s
@include viewport--s('inversed') {
  // if list has modifier '--s' it is containing numbers with at least 3 digits
  // in this case hide the second item in the list for the smallest viewport
  .pagination__list--s .pagination__item:nth-child(2) {
    display: none;
  }
}

// viewport s - m
@include viewport--l('inversed') {
  // pagination s
  .pagination__list--s {
    @include font-style('body--l');
    margin-left: -5px; // compensate link/text spacing & align with grid
    // item
    .pagination__item {
      > a,
      > span {
        padding: 0 5px;
      }
    }
    // control
    &__control .icon {
      top: $baseline * 0.4;
    }
  }
}
