.person {

  &__profile {
    & + & {
      margin-top: $spacing--l;
    }

    .contact-details {
      margin-top: $spacing--s;
    }

    .social__list {
      margin-top: $spacing--m;
    }
  }

  &__image {
    background: $color-brand--off-white;
    height: $baseline * 15;
    margin-bottom: $spacing--s;
    position: relative;
    width: 150px;

    img {
      position: relative;
    }
  }

  &__initials {
    margin-bottom: $spacing--s;
    width: 150px;

    &--container {
      position: relative;

      &::after {
        background: $color-brand--off-white;
        border-radius: 50%;
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }

    span {
      @include font-style('title--m', 'title--l');
      color: $color--dark-blue-50;
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__name {
    @include font-style('title--s', 'title--l');
    color: $color-brand--blue;
  }

  &__description + .social__list {
    margin-top: $spacing--s;
  }

  &__info p:not(.person__title),
  &__description {
    margin-bottom: 0;
    margin-top: $spacing--s;
  }

  &__title {
    @include font-style('body--l');
    margin-bottom: 0;
    margin-top: $spacing--xs;
  }
}

.bg-brand--off-white .person__initials--container::after {
  background: $color-brand--white;
}

// viewport l
@include viewport--l {
  .person__profile + .person__profile {
    margin-top: $spacing--xl;
  }
}
