.poll {
  &__item {
    & + & {
      margin-top: $spacing--xs;
    }
  }

  &__option {
    border-radius: $border-radius;
    border: 2px solid $color-brand--off-white;
    height: $baseline *6;
    line-height: $baseline * 5.6;
    padding: 0 30px;
    text-align: center;

    .bg-brand--yellow & {
      border-color: $color-brand--dark-blue;
    }

    .bg-brand--white &,
    .bg-brand--off-white & {
      border-color: $color-brand--blue;
      color: $color-brand--blue;
    }

    &--selected {
      background: $color-brand--off-white;
      color: $color-brand--blue;

      .bg-brand--yellow & {
        background: $color-brand--dark-blue;
        color: $color-brand--off-white;
      }

      .bg-brand--white &,
      .bg-brand--off-white & {
        background: $color-brand--blue;
        color: $color-brand--off-white;
      }
    }
  }

  &__result {
    margin-right: 10px;
  }
}
