.social {

  // share
  &__share {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    &-text {
      margin-right: 20px;
    }
  }

  // list
  &__list {
    display: flex;    
  }

  // item
  &__item + .social__item {
    margin-left: 20px;    

    // social list s
    .social__list--s & {
      margin-left: 15px;
    }
  }

  // link
  &__link {
    @include center-all;
  }
}
