.sortbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: $spacing--m;
  // viewport l
  @include viewport--l {
    border-bottom: 1px solid $color--grey;
    padding-bottom: $spacing--m;
  }

  &--toggle {
    border-bottom: 1px solid $color--grey;
    padding-bottom: $spacing--m;
  }

  &__count {
    margin-right: 15px;
    // viewport s - m
    @include viewport--l('inversed') {
      & + .form-group {
        margin-top: $spacing--s;
        width: 100%;
      }
    }
  }
}
