.toggable-group {
  align-items: center;
  display: flex;

  &__item {
    align-items: center;
    color: $color--dark-blue-50;
    cursor: pointer;
    display: flex;
    transition: color $transition-duration--fast;

    & + & {
      margin-left: 20px;
    }

    span {
      position: relative; // fix IE 10/11 text jump in active button
    }

    .icon {
      margin-right: 5px;
    }

    svg {
      fill: $color--dark-blue-50;
      transition: fill $transition-duration--fast;
    }

    &--active {
      color: $color-brand--blue;
      cursor: default;
    }

    &--active .icon svg {
      fill: $color-brand--blue;
    }
  }
}
