.top-link {
  display: flex;

  &__item {
    @include font-style('body--m');
  }

  @include viewport--l('inversed') {
    li + li {
      margin-left: 20px;
    }

    a {
      color: $color--dark-blue-50;
    }

    .accordion + & {
      margin-top: $spacing--s;
    }
  }

  @include viewport--l {
    &__item {
      @include font-style('body--s');
    }

    li + li {
      margin-left: 10px;
    }
  }
}
