// upload list
//
// list that displayed the uploaded documents
//
//
// styleguide 2.forms.upload list

.upload-list {
  &__item {
    .indicator-percentage {
      //IE 11 fix for positioning.
      @include internet-explorer-10-11 {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  // item : success
  &__item--success .upload-list {
    &__success {
      //IE 11 fix for positioning.
      @include internet-explorer-10-11 {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
