// upload
//
// box which enables uploading single or multiple files.
//
//
// styleguide 2.forms.upload

.form-group--upload {
  max-width: 500px;

  .upload-limit-reached,
  .upload-too-many-files,
  .upload-file-too-large {
    display: none;
  }

  &.form-group--error-files {
    .upload-default-text {
      display: none;
    }

    .upload-too-many-files {
      display: block;
    }
  }

  &.form-group--error-too-large {
    .upload-default-text {
      display: none;
    }

    .upload-file-too-large {
      display: block;
    }
  }

  .upload {

    // Remove cursor on IE field - FIX.
    input {
      font-size: 0;
      top: 0;
    }

    .button {
      display: none;
    }

    .button+.upload__content {
      position: relative;
      z-index: 7;
    }

    .upload__content--drop {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;

      &>span {
        cursor: pointer;
      }
    }

    &.dz-max-files-reached {
      .upload-limit-reached {
        display: block;
      }

      .upload-default-text {
        display: none;
      }

      .upload__content--drop {
        cursor: default;

        &>span {
          cursor: default;
        }
      }
    }
  }

  .upload-choices {
    display: flex;
    flex-wrap: wrap;

    @include viewport--m('inversed') {
      display: block;

      &>div {
        width: 100%;
      }
    }

    .upload {
      display: flex;
      width: 100%;
      height: 68px;
      margin-top: $spacing--xxs;
      padding: ($baseline * 1.8) ($baseline * 2.9);
      min-height: 0;

      @include viewport--l {
        width: calc(50% - 5px);
        height: 90px;
        margin-top: $spacing--xs;
        padding: ($baseline * 2.9);
      }

      &:first-child {
        @include viewport--l {
          margin-right: $spacing--xs;
        }
      }

      &:before {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: $spacing--xs;
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        transition: opacity $transition-duration;
      }

      &__add {
        line-height: 20px;
      }
    }

    .google_picker {
      &:before {
        background-image: url('../../../src/assets/img/logo-drive.svg');
      }
    }

    .dropbox_chooser {
      &:before {
        background-image: url('../../../src/assets/img/logo-dropbox.svg');
      }
    }
  }

  &:not(.form-group--read-only):not(.form-group--error) .upload-choices .upload {
    &:hover {
      padding: ($baseline * 1.7);

      @include viewport--l {
        padding: ($baseline * 2.8);
      }
    }
  }

  &.form-group--read-only {
    .dropzone.dz-clickable * {
      cursor: default;
    }

    .upload {
      pointer-events: none;

      &:before {
        opacity: .5;
      }

      .upload__content--drop {
        cursor: default;
      }
    }
  }
}

.google_picker,
.dropbox_chooser {
  display: none;
}