// this does not appear in guide

@font-face {
  font-family: 'Graphik';
  src: url('/themes/custom/bluex/dist/assets/font/Graphik-Regular.eot');
  src: url('/themes/custom/bluex/dist/assets/font/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
    url('/themes/custom/bluex/dist/assets/font/Graphik-Regular.woff2') format('woff2'),
    url('/themes/custom/bluex/dist/assets/font/Graphik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
