@mixin animation-pulse($pulse-name, $scale-initial, $scale-transform) {
  @keyframes #{$pulse-name} {
    0%, 100% {
      transform: scale($scale-initial);
    }

    50% {
      transform: scale($scale-transform);
    }
  }
}
