.toast {
  @include font-style('body--m');
  background: $color-brand--dark-blue;
  border: 1px solid $color-brand--white;
  border-radius: $border-radius--l;
  color: $color-brand--off-white;
  display: flex;
  flex-flow: row wrap;
  max-height: 0 !important; // overwrite inline style to enable animation
  padding: ($baseline * 1.2) 20px ($baseline * 1.8);
  position: fixed;
  visibility: hidden;

  &--active {
    height: auto;
    max-height: inherit !important; // overwrite inline style to enable animation
    visibility: visible;
    z-index: 1;
  }

  &.closable--closed {
    animation: fade-out $transition-duration--fast $toast-duration;
    max-height: none !important; // overwrite inline style to enable animation
    opacity: 0;
    transition: visibility $transition-duration--fast ease, opacity $transition-duration--fast ease;
    visibility: hidden;
  }

  &__message {
    @include font-style('body--m');
    margin-bottom: 0;
  }

  &__cta {
    margin: $spacing--xs 0 0 auto;
    padding-left: 10px;
    text-align: right;

    &-link,
    &-link:hover {
      text-decoration: none;
      transition: color $transition-duration--fast;
    }

    &-link:not(.text--alternative) {
      color: $color--blue-80;
    }

    &-link:hover {
      color: $color-brand--blue;
    }

    &-link.text--alternative:hover {
      color: $color-brand--off-white;
    }

    &-link + &-link {
      margin-left: 10px;
    }
  }

  .icon svg {
    transition: fill $transition-duration--fast;
  }


  button:hover svg {
    fill: $color-brand--off-white;
  }
}

// viewport s - m
@include viewport--l('inversed') {
  .toast {
    bottom: $toast-spacing-bottom;
    left: 10px;
    right: 10px;

    &__message {
      flex: 1 100%;
      margin-right: 35px;
      width: 100%;
    }

    &__cta {
      flex: 1 100%;
    }

    .icon {
      right: 15px;
      top: $baseline * 1.5;
    }

    &--active {
      animation: fade-in-toast $transition-duration--fast;
    }
  }
}

// viewport l
@include viewport--l {
  .toast {
    bottom: $toast-spacing-bottom--l;
    right: 30px;
    width: $toast-width;

    &__message {
      margin-right: 45px;
      width: auto;
    }

    .icon {
      top: $baseline * 1.8;
      right: 20px;
    }

    &--active {
      animation: fade-in-toast--l $transition-duration--fast;
    }
  }
}
