.application-process {
  
  .banner {
    border-radius: $border-radius--l;
    height: 100%;

    &__wrapper {
      border-radius: $border-radius--l;
      min-height: 100%;
      padding-left: $spacing--m;
      padding-right: $spacing--m;
      height: 100%;
    }

    &__content {
      padding-bottom: $spacing--m;
      padding-top: $spacing--m;
      align-self: inherit;
    }
  }

  .block__title {
    @include font-style('title--m', 'title--l');
  }

  .block__description {
    p {
      color: $color--text;
    }
  }

  .content-block {
    &__title {
      @include font-style('title--m', 'title--l');
      margin: $spacing--s 0 0;
    }

    &__description {
      margin: $spacing--s 0 0;
    }
  }

  .slick-track {
    display: flex;

    .slick-slide {
      height: auto;

      & > div {
        height: 100%;
      }
    }
  }

  .blog-overview__item {
    height: 100%;
  }

  &__bg-color--off-white {
    background-color: $color-brand--off-white;
  }
}


@include viewport--l {
  .application-process {

    .banner {
      min-height: 380px;

      &__wrapper {
        padding-right: $spacing--xl;
        padding-left: $spacing--xl;
        position: absolute;
        left: 0;
        width: 100%;
      }

      &__content {
        padding-bottom: $spacing--xxl;
        padding-top: $spacing--l;
        width: grid-columns(8, 12);
      }
    }

    .content-block {
      &__description {
        @include font-style('title--xs');
      }
    }

    .blog-overview__list {
      width: grid-columns(9, 12);
    }
  }
}

@include viewport--l('inversed') {
  .application-process {
    .banner {
      &__media {
        display: none;
      }
    }
  }
}
