// quote
//
// a section that is used to highlight a quotation.
//
//
// styleguide 3.quote

// viewport l
@include viewport--l {
  .carousel--quote {
    .quotes:not(.quotes--s) {
      width: 100%;
    }
    .slick-list {
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        overflow: visible;
      }
    }
  }
}

@media all and (min-width: 992px) {
  .carousel--quote {
    .quotes:not(.quotes--s) {
      width: auto;
    }
  }
}
