.button--filled, 
a.button--filled,
.bg-brand--off-white a.button--filled {

  // randstad blue is default
  // placed lower to prevent cascading issues on off-white backgrounds
  &, &.button--blue {
    background: $color-brand--blue;
    border: none;
    color: $color-brand--off-white;

    &:hover {
      background: $color--blue-80;
      color: $color-brand--off-white;
    }
    // on touch devices hover is similar to ':active' state.
    // outputs regular ':active' state & specific ':hover'
    // state for touch devices
    & {
      @include hover-touch {
        background: $color--blue-130;
        color: $color-brand--off-white;
      }
    }
    .icon svg {
      fill: $color-brand--off-white;
    }
  }
  // viewport s / m
  @include viewport--l('inversed') {
    line-height: $baseline * 5.8;
  }

  // dark blue
  &.button--dark-blue {
    background: $color-brand--dark-blue;
    color: $color-brand--off-white;

    &:hover {
      background:$color--dark-blue-80;
      color: $color-brand--off-white;
    }
    // on touch devices hover is similar to ':active' state.
    // outputs regular ':active' state & specific ':hover'
    // state for touch devices
    & {
      @include hover-touch {
        background: $color--dark-blue-180;
      }
    }
    .icon svg {
      fill: $color-brand--off-white;
    }
  }

  // off white
  &.button--off-white {
    background: $color-brand--off-white;
    color: $color-brand--blue;

    &:hover {
      background: $color-brand--white;
      color: $color-brand--blue;
    }
    // on touch devices hover is similar to ':active' state.
    // outputs regular ':active' state & specific ':hover'
    // state for touch devices
    & {
      @include hover-touch {
        background: $color--off-white-110;
      }
    }

    .icon svg {
      fill: $color-brand--blue;
    }
  }
}

