.button--full-width-to-icon {
  @include viewport--l('inversed') {
    height: $baseline * 6;
    width: 100%;

    .button__text {
      position: static;
    }

    .icon {
      display: none;
    }
  }
}
