.button--full-width, 
a.button--full-width {
  height: $baseline * 6;
  line-height: $baseline * 5.6;
  width: 100%;
}

@include viewport--l('inversed') {
  .button--full-width, 
  a.button--full-width {
    
    .button + .button {
      margin-top: $spacing--xs;
    }
  }
}