.button--icon {
  min-width: 0;
  padding: 0;
  position: relative;
  width: $baseline * 6;

  .button__text {
    @include hidden--visually;
  }

  .icon {
    height: $icon-size;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: $icon-size;
  }

  svg {
    color: $color-brand--off-white;
  }
  //off-white
  &.button--off-white {
    svg {
      color: $color-brand--blue;
    }

    &:hover svg {
      color: $color-brand--off-white;
    }
  }
  //disabled
  &.button--disabled,
  &:disabled {
    svg {
      color: $color-brand--off-white;
    }
  }
}
