.button--icon-only {
  &,
  &:hover,
  &:active {
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-size: 0;
    line-height: inherit;
    min-width: 0;
    padding: 0;
    outline: none;
  }
}

