// selector chained to add specificity over default button styling
.button.button--plain, 
a.button.button--plain,
.bg-brand--off-white a.button.button--plain {
  border-color: transparent;
  color: $color-brand--blue; 

  &:hover {
    background: $color-alpha--blue-10;
    border-color: transparent;
    color: $color-brand--blue;

    .icon svg {
      fill: $color-brand--blue; 
    }
  }
  // on touch devices hover is similar to ':active' state.
    // outputs regular ':active' state & specific ':hover'
    // state for touch devices
    &{
      @include hover-touch {
        background: $color-alpha--blue-30;
      }
    }

  // off-white
  &.button--off-white {
    color: $color-brand--off-white;

    &:hover {
      background: $color-alpha--off-white-30;
      border-color: transparent;
      color: $color-brand--off-white;

      .icon svg {
        fill: $color-brand--off-white; 
      }
    }
    // on touch devices hover is similar to ':active' state.
    // outputs regular ':active' state & specific ':hover'
    // state for touch devices
    &{
      @include hover-touch {
        background: $color-alpha--off-white-50;
        color: $color-brand--off-white;
      }
    }  
  }
  // dark blue
  &.button--dark-blue {
    color: $color-brand--dark-blue;

    &:hover {
      background: $color-alpha--dark-blue-10;
      border-color: transparent;
      color: $color--dark-blue-80;

      .icon svg {
        fill: $color-brand--dark-blue;
      }
    }

    // on touch devices hover is similar to ':active' state.
    // outputs regular ':active' state & specific ':hover'
    // state for touch devices
    &{
      @include hover-touch {
        background: $color-alpha--dark-blue-30;
        color: $color-brand--dark-blue; 
      }
    }
  }


  // disabled
  &.button--disabled,
  &:disabled {
    color: $color--grey;
  }
}
