.button--preloader {
    &.button {
      line-height: $baseline * 6;

      span, 
      &::before, 
      &::after {
        animation: zoom--second-dot 1s infinite ease-in-out;
        border-radius: 50%;
        background: $color-brand--blue;
        display: inline-block;
        height: $baseline * 1.8;
        width: 18px;
      }
      
      &::before {
        animation-name: zoom--first-dot;
        content: "";
      }
      &::after {
        animation-name: zoom--third-dot;
        content: "";
      }

      &:hover span, 
      &:hover::before, 
      &:hover::after {
        background: $color-brand--off-white;
      }
    }  

    &.button--off-white {
      span, 
      &::before, 
      &::after {
        background: $color-brand--off-white;
      }

      &:hover span, 
      &:hover::before, 
      &:hover::after {
        background: $color-brand--blue;
      }
    }

    &.button--dark-blue {
      span, 
      &::before, 
      &::after {
        background: $color-brand--dark-blue;
      }

      &:hover span, 
      &:hover::before, 
      &:hover::after {
        background: $color-brand--off-white;
      }
    }

    &.button--filled {
      line-height: $baseline * 6.4;

      span, 
      &::before, 
      &::after {
        background: $color-brand--off-white;
      }
      &.button--off-white{
        span, 
      &::before, 
      &::after {
        background: $color-brand--blue;
      }
      }
    }

    &.button--plain:hover {
       span, 
       &::before, 
       &::after {
          background: $color-brand--blue;
        }

      &.button--off-white {
        span,
        &::before,
        &::after {
          background: $color-brand--off-white;
        }
      }

      &.button--dark-blue {
        span, 
        &::before, 
        &::after {
           background: $color-brand--dark-blue;
        }
      }
    }
}