// Social Buttons
.button.button--social,
a.button.button--social {
  border-color: $color--grey; 
  color:$color-brand--blue;
  padding: 0 $spacing--s;

  .icon--inline {
    top: 3px;
  }

  &:hover {
    background: $color--blue-10;
    border-color: $color-brand--blue;

    .icon svg {
      fill:$color-brand--blue;
    }
  }

  // on touch devices hover is similar to ':active' state.
  // outputs regular ':active' state & specific ':hover'
  // state for touch devices
  & {
    @include hover-touch {
      background: $color--blue-10;
      border-color: $color-brand--blue;
    }
  }
}

/// icon colors in alphabetical order

.button--social.social-btn {

  &--apple .icon-apple {
    fill: black;
  }

  &--drive .icon-drive {
    --drive-color-1: #4688F4;
    --drive-color-2: #089156;
    --drive-color-3: #FCCD48;
  }
  //drive hover path
  &--drive:hover .icon-drive {
    --drive-color-1: $color-brand--blue;
    --drive-color-2: $color-brand--blue;
    --drive-color-3: $color-brand--blue;
  }

  &--dropbox .icon-dropbox {
    fill: #0061FF;
  }

  &--facebook .icon-facebook {
    fill: #1977f3;
  }

  &--google .icon-google {
    --google-color-1: #4285f4;
    --google-color-2: #34a853;
    --google-color-3: #fbbc05;
    --google-color-4: #ea4335;
  }
  //google hover path
  &--google:hover .icon-google {
    --google-color-1: $color-brand--blue;
    --google-color-2: $color-brand--blue;
    --google-color-3: $color-brand--blue;
    --google-color-4: $color-brand--blue;
  }

  &--indeed .icon-indeed {
    fill: #2164F4;
  }

  &--itsme .icon-itsme {
    fill: #FF4612;
  }

  &--linkedin .icon-linkedin {
    fill: #0e76a8;
  }

  &--monster .icon-monster {
    fill: #7046AE;
  }

  &--seek .icon-seek {
    fill: #0D3880;
  }
}