.modal--popup.modal--cookie {

  .modal {
    &__header {
      min-height: auto;
    }

    &__title {
      @include font-style('title--xs', 'title--s');

      span {
        color: $color-brand--yellow;
      }
    }

    &__main p {
      @include font-style('body--m');
    }

    &__footer {
      padding: $spacing--xs $grid-margin--s 0;
    }
  }
}

// viewport s - m
@include viewport--l('inversed') {
  .modal--popup.modal--cookie {
    .modal {

      &__header {
        padding: $spacing--m $grid-margin--s $spacing--xs;
      }

      &__main {
        overflow-y: visible;
        padding: 0 $grid-margin--s ($baseline * 16);
      }

      &__footer {
        
        .button-group {
          width:100%;

          .button {
          width: 100%;
          }

          .button-group .button--filled {
            margin-bottom: $spacing--xxs;
          }
        }
      }
    }
  }
}

// viewport l
@include viewport--l {
  .modal--popup.modal--cookie {
    .modal {
      &__header {
        padding: $spacing--m $spacing--m $spacing--s;
      }

      &__dialog {
        width: $modal-dialog-width--cookie;
      }

      &__footer {
        margin: $spacing--m 0;
        padding: 0 $spacing--m 0;
        
      }
    }
  }
}
