.popover {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateY(-$baseline * 0.5);
  transition: opacity $transition-duration--fast, visibility $transition-duration--fast, transform $transition-duration--fast;
  width: 100%;
  z-index: 3;

  &::before {
  border-radius: $border-radius;
  background: $color-brand--off-white;
  content: '';
  height: $baseline * 2.5;
  position: absolute;
  right: 70px;
  top: -$spacing--xxs;
  transform: rotate(45deg);
  width: 25px;
}

  &--arrow-right::before { right: 35px; }
  &--arrow-center::before { left: 47%; }
  &--arrow-left::before { left: 35px; }

  &__dialog {
    max-height: 0; // make sure dialog doesn't take up place when not visible
    overflow: hidden;
    padding: $spacing--s $baseline * 2.5 $spacing--m;
    transition: max-height 0s $transition-duration--fast;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);


    .popover__dialog {
      max-height: $baseline * 60;
      transition: max-height 0s 0s;
    }
  }

  &__title {
    @include font-style('title--xs', 'title--xs');
    color: $color-brand--dark-blue;

    span {
      color: $color-brand--blue;
    }

    & + .body-copy{
      margin-top: $spacing--s;
    }
  }

  &__message {
    margin-top: $spacing--xs;

    p:last-child {
      margin: 0;
    }
  }

  &__description {
    &, p {
      margin-bottom: $spacing--s;
    }
  }

  &__action {
    margin-top: $spacing--m;
    
    &.divider {
      padding-bottom: $spacing--m;
    }

    .button {
      margin-left: 0;
      margin-right: 0;
    }

    .button + .button {
      margin-top: $spacing--xs;
    }
  }

  &__footer {
    margin-top: $spacing--s;

    p {
      margin-bottom: 0;
    }

    &--link {
      display: block;
      text-align: center;
    }
  }

  // form group
  .form-group {
    margin-top: $spacing--m;

    &__input + .form-group__input {
      margin-top: $spacing--xs;
    }
  }

  // person profile
  .person-profile {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;

    &__profile {
      width: calc(100% - 65px);
    }

    &__initials {
      @include font-style('body--l');
      align-items: center;
      background: $color--white;
      border-radius: 50%;
      display: flex;
      height: $spacing--l;
      justify-content: center;
      margin-right: 15px;
      width: 50px;
    }

    &__eyebrow {
      @include font-style('body--s');
      display: block;
    }
  }
  
  // body copy checkmarks
  .bg-brand--dark-blue &,
  .bg-brand--blue &,
  .bg-brand--turquoise &,
  .bg-brand--red &,
  .bg-brand--yellow & {

    .list--checks li::before {
      @include svg-base64('check', $color-brand--blue);
    }
  }

  

  // link list
  .link-list {
    margin-top: $spacing--s;

    &.divider {
      padding-bottom: $spacing--m;
    }

    &__item {
      border: none;
      margin-top: $baseline * 1.5;
      width: 100%;

      &:first-child {
        border-top: none;
        margin-top: 0;
      }
    }

    &__link {
      @include font-style('body--l');
      align-items: center;
      display: flex;
      padding: 0;

      .icon {
        margin-right: 15px; 

        svg {
          fill: $color--dark-blue-50;
        }
      }
    }
  }
}

// viewport l
@include viewport--m {
  .popover {
    border-radius: $border-radius--l;
    width: $popover-width;

    &__dialog {
      padding: $spacing--m;
    }
  }
}

// small version
.popover--s {
  @include font-style('body--m');
  display: flex;
  justify-content: flex-start;
  position: relative;

  .icon__toggler {
    height: $spacing--s;
  }

  .icon {
    cursor: pointer;
    display: inline-block;
    position: relative;

    svg {
      fill: $color-brand--blue;
    }
  }

  .popover {
    background: $color-brand--white;
    border: 1px solid $color--grey;
    max-width: 400px;
    min-width: 100px;
    position: absolute;
    text-align: left;
    top: $baseline * 2.5;
    width: auto;
  
    &::before {
      display: none;
    }
    
    .popover__dialog {
      padding: $spacing--xs 0;
    }

    .popover__dialog li a {
      @include text-ellipsis;
      display: block;
      padding: $spacing--xxs 15px;
      text-decoration: none;
    
      &:hover {
        background: $color--blue-10;
      }
    }
  }

  &.align-center {
    justify-content: center;
    margin: 0 auto;
  }

  &.align-right {
    justify-content: flex-end;
  }
}

