@function grid-gutter($viewport: 's') {

  // viewport s
  @if ($viewport == 's') {
    @return calc((#{$grid-gutter-units}/#{$grid-units-total--s}) * 100%);
  }
  // viewport l
  @else if ($viewport == 'l') {
    @return calc((#{$grid-gutter-units}/#{$grid-units-total--l}) * 100%);
  }  
}
