.header--404 {
  // hide all content except logo in case top menu is always rendered
  .breadcrumb,  
  .navigation__menu--sub {
    display: none;
  }

  .logo-randstad {
    & {
      display: block;
    }
  }

  .content-block__description {
    @include font-style('title--m');
    color: $color-brand--dark-blue;
    margin-top: 0;
  }
  // viewport s - m
  @include viewport--l('inversed') {
    .header__content {
      padding-top: $spacing--m;
    }

    .content-block__title > span {
      display: inline;
    }
  }
  // viewport l
  @include viewport--l {
    .header__content {
      padding-bottom: $spacing--xxl;
    }

    .content-block__description {
      margin-top: $spacing--xxl;
    }

    .media-block img {
      margin-top: $spacing--xs;
      max-width: 760px;
      min-width: 0;
    }
  }
}
