.header  {
  &--compact {
    & .header__content {
        padding-bottom: $spacing--m;
        padding-top: $spacing--s;  
    } 

   & h1.content-block__title {
       @include font-style('title--m', 'title--l');
    }
  }
}

@include viewport--l {
  .header--compact {
    & .header__content {
      padding-bottom: $spacing--l;
      padding-top: $spacing--m;
    }
  }
}