// prevent Internet Explorer 10/11 to display double arrows
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-group__input select {
    padding-right: 50px;

    &::-ms-expand {
      display: none;
    }
  }

  .select-arrow {
    display: inline;
  }
}

// Fix for Firefox
@include viewport--l {
  .form-group__input--l select {
    line-height: $baseline * 4.8;
  }
}

//Fix for IE11 - remove on focus bg
select {
  &:active,
  &:focus {
    &::-ms-value {
      color: black;
      background: $color--white;
    }
  }
}

.form-group--dropdown-alternative {

  .form-group__input {
    max-height: 30px;
    overflow: hidden;
    position: relative;
    // RBD-3595 - Add padding spacings.
    padding-top: 1px;
    padding-right: 15px;
  }

  .select-arrow {
    top: 6px;
    right: 0;
    color: $color--dark-blue-50;

    svg {
      max-width: 14px;
    }
  }

  select {
    @include font-style('body--m', 'body--m');
    // RBD-3595 - Add padding spacings.
    padding: 0 $spacing--xs 0 $spacing--xxs;
    border: 0;
    line-height: 90px;
    height: 0;
    margin-top: -30px;
    background: none;

    @include internet-explorer-10-11 {
      margin-top: -15px;
    }

    @supports (-ms-ime-align:auto) {
      margin-top: -15px;
    }

    &:focus,
    &:active {
      padding: 0 $spacing--xs 0 $spacing--xxs;

      &::-ms-value {
        background: none;
      }
    }
  }
}
