input:-ms-input-placeholder {
  color: $color--dark-blue-50 !important;
}
textarea:-ms-input-placeholder {
  color: $color--dark-blue-50 !important;
}

input[type="search"] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance:none;
  }
}
